{% paginate customer.orders by 20 %}



<div class="jc-account-page-wrapper">
  <div class="container-large">
    <div class="jc-account-order-section-heading-wrapper">
      <h1 class="main-heading-account">Order History</h1>
    </div>
    

    <div class="jc-account-order-section">
     
      
    
     
     {% if customer.orders.size != 0 %}   
     <div class="jc-account-order-flex-row">
          <div class="jc-account-order-flex-col">
            <div class="jc-account-order-flex-col-heading-text">Order Number</div>
          </div>
          <div class="jc-account-order-flex-col">
            <div class="jc-account-order-flex-col-heading-text">Date</div>
          </div>
          <div class="jc-account-order-flex-col">
            <div class="jc-account-order-flex-col-heading-text">Total Cost</div>
          </div>
      </div>


      {% for order in customer.orders %}

        <div class="jc-account-order-flex-row">
            <div class="jc-account-order-flex-col">
              <div class="jc-account-order-flex-col-text"><a href="{{order.customer_url}}" class="jc-account-order-flex-col-text-link">{{ order.name }}</a></div>
            </div>
            <div class="jc-account-order-flex-col">
              <div class="jc-account-order-flex-col-text">{{ order.created_at | date: format: 'date' }}</div>
            </div>
            <div class="jc-account-order-flex-col">
              <div class="jc-account-order-flex-col-text">{{ order.total_price | money }}</div>
            </div>
        </div>

      {% endfor %}
      

   
  {% else %}
    
      <div class="jc-account-page-empty-wrapper">
        <p class="jc-account-page-empty-text">You haven't placed any orders yet</p>
      </div>

  {% endif %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
  {% endpaginate %}

    </div> <!-- jc-account-order-section -->
  </div> <!-- jc-container-large-->


  
</div> <!-- jc-account-page-wrapper -->
















{% comment %}
<div class="page-width">
  <div class="section-header text-center">
    <h1>{{ 'customer.account.title' | t }}</h1>
    {{ 'layout.customer.log_out' | t | customer_logout_link }}
  </div>

  <div class="grid myaccount">
    <div class="grid__item myaccount__order-history">
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

          <table class="responsive-table">
            <thead>
              <tr>
                <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                <th scope="col">{{ 'customer.orders.date' | t }}</th>
                <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                    <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                  </th>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endpaginate %}
    </div>
    <div class="grid__item myaccount__account-details">
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <p><a href="{{ routes.account_addresses_url }}" class="btn btn--small">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div>
  </div>
</div>
{% endcomment %}
