

<div class="mid-wrapper-login">
  <div class="container-small">
    <div class="form-block-login w-form">
      {% form 'customer_login' %}
        <h1 class="form-heading-login">Login</h1>
        {{ form.errors | default_errors }}
        <input type="email" class="form-input-login w-input" maxlength="256" name="customer[email]" placeholder="Email Address" id="CustomerEmail" required=""><input type="password" class="form-input-login w-input" maxlength="256" name="customer[password]" placeholder="Password" id="CustomerPassword" required="">
        <div class="form-btn-wrapper-login"><input type="submit" value="Sign In" data-wait="Please wait..." class="btn-main w-button"></div>
        <div class="form-bottom-wrapper-login">
          <a href="#" class="form-bottom-link-login w-inline-block" data-ix="form-show-pw">
            <div>Forgot your password?</div>
          </a>
          <a href="/account/register" class="form-bottom-link-login w-inline-block">
            <div>Create Account</div>
          </a>
        </div>
      {% endform %}
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
    <div class="form-block-forgot-pw w-form">
      {% form 'recover_customer_password' %}
        <h2 class="form-heading-login-alt">Reset your password</h2>
        <p class="form-sub-heading-login">We will send you an email to reset your password.</p><input type="email" class="form-input-login w-input" maxlength="256" name="email" placeholder="Email Address" id="RecoverEmail" required="">
        <div class="form-btn-wrapper-login"><input type="submit" value="Submit" data-wait="Please wait..." class="btn-main w-button"></div>
        <div class="form-bottom-wrapper-login">
          <a href="#" class="form-bottom-link-login w-inline-block" data-ix="form-cancel">
            <div>Cancel</div>
          </a>
        </div>
      {% endform %}
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>






{% comment %}
<div class="page-width">
  <div class="grid">

    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="form-message form-message--success hide" id="ResetSuccess" tabindex="-1">
        {{ 'customer.recover_password.success' | t }}
      </div>

      <div id="CustomerLoginForm" class="form-vertical">

        <h1 id="LoginHeading" class="text-center">{{ 'customer.login.title' | t }}</h1>

        {% form 'customer_login', novalidate: 'novalidate' %}

          {%- if form.errors -%}
            <div class="form-message form-message--error">
              <h2 class="h3 form-message__title " tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
          <input
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {%- if form.errors contains 'form' -%}
              class="input--error"
              aria-invalid="true"
            {%- endif -%}
            >

          {% if form.password_needed %}
            <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
            <input
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              {%- if form.errors contains 'form' -%}
                class="input--error"
                aria-invalid="true"
              {%- endif -%}
            >
          {% endif %}

          <div class="text-center">
            {% if form.password_needed %}
              <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
            {% endif %}

            <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">

            <p>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </p>
          </div>

        {% endform %}
      </div>

      <div id="RecoverPasswordForm" class="hide">

        <div class="text-center">
          <h2 id="RecoverHeading">{{ 'customer.recover_password.title' | t }}</h2>
          <p>{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        <div class="form-vertical">
          {% form 'recover_customer_password' %}

            
            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}

            <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
            <input
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              class="input-full{% if form.errors %} input--error{% endif %}"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
              {%- endif -%}
              >
            {%- if form.errors -%}
              <span id="RecoverEmail-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.messages['form'] }}</span>
              </span>
            {%- endif -%}

            <div class="text-center">
              <p>
                <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
              </p>

              <a href="#LoginHeading" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>
            </div>
          {% endform %}
        </div>

      </div>

 
      {% if shop.checkout.guest_login %}
        <div class="text-center">
          <hr class="hr--invisible">
          <h2>{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
            <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        </div>
      {% endif %}
    </div>

  </div>
</div>
{% endcomment %}


