
<div class="mid-wrapper-login">
  <div class="container-small">
    <div class="form-block-login w-form">
      {% form 'reset_customer_password' %}
        <h1 class="form-heading-login">Reset Account Password</h1>
        <p class="form-sub-heading-login">Enter a new password</p>
        {{ form.errors | default_errors }}
        <input type="password" class="form-input-login w-input" maxlength="256" name="customer[password]" placeholder="Password" id="ResetPassword" required="" placeholder="password" value="">
        <input type="password" class="form-input-login w-input" maxlength="256" name="customer[password_confirmation]" placeholder="Confirm Password" id="PasswordConfirmation" required="" placeholder="password" value="">
        <div class="form-btn-wrapper-login">
          <input type="submit" value="Submit" data-wait="Please wait..." class="btn-main w-button"></div>
        <div class="form-bottom-wrapper-login">
      {% endform %}
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>


{% comment %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <div class="form-vertical">
          {% form 'reset_customer_password' %}

            <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>

            <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

            <input type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endcomment %}
