<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  <style type="text/css">
    .mid-wrapper-down {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100vh;
      min-height: 700px;
      padding: 0px 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .content-wrapper-down {
      max-width: 940px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    .img-wrapper-down {
      margin-bottom: 60px;
      text-align: center;
    }

    .img-logo-down {
      width: 700px;
    }

    .text-down {
      margin-right: auto;
      margin-bottom: 20px;
      margin-left: auto;
      font-family: Brandon, sans-serif;
      color: #af7552;
      font-size: 26px;
      line-height: 38px;
      font-style: italic;
      font-weight: 400;
      letter-spacing: 2px;
    }

    .img-inner-down {
      display: inline-block;
      padding: 10px;
      border-style: solid;
      border-width: 5px;
      border-color: #af7552;
      border-radius: 1px;
    }

    .bottom-text-down {
      margin-bottom: 0px;
      font-family: Brandon, sans-serif;
      color: #d7bda7;
      font-size: 15px;
    }

    .bottom-text-link-down {
      -webkit-transition: color 250ms ease;
      transition: color 250ms ease;
      color: #d7bda7;
      text-decoration: none;
    }

    .bottom-text-link-down:hover {
      color: #af7552;
    }

  </style>

  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>

  {{ content_for_header }}
</head>

<body class="template-password">

  <div class="mid-wrapper-down">
    <div class="content-wrapper-down">
      <div class="img-wrapper-down">
        <div class="img-inner-down"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/imani-collective-logo-min.png" alt="" class="img-logo-down"></div>
      </div>
      <p class="text-down">Website Down For Routine Maintenance.<br>Please Check Back Shortly.</p>
      <p class="bottom-text-down"><a href="#" id="show-modal" class="bottom-text-link-down">enter with password</a></p>
    </div>
  </div>
  {% comment %}
  <div class="password-page">
    <header class="password-header" role="banner">
      <div class="password-header__inner">
        <div class="password-login">
          <a href="#LoginModal" class="js-modal-open-login-modal link--action btn btn--secondary" aria-haspopup="dialog">
            {{ 'general.password_page.password_link' | t }} <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>
    </header>

    <div class="password-main" role="main">
      <div class="password-main__inner">
        {{ content_for_layout }}
      </div>
    </div>
  </div>
  {% endcomment %}


  <div id="LoginModal" class="modal" role="dialog" aria-modal="true" aria-labelledby="password-modal-heading">
    <button type="button" class="modal__close js-modal-close text-link">
      {% include 'icon-close' %}
      <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
    </button>
    <div class="modal__inner">
      <div class="modal__centered password-modal__content page-width">
        <div class="password-content">
          <h2 class="password__form-heading h4" id="password-modal-heading">
            {{ 'general.password_page.login_form_heading' | t }}
          </h2>
        </div>

        {% form 'storefront_password', class: 'form-single-field' %}
          {%- assign formId = 'PasswordLoginForm' -%}
          <div class="input-group {% if form.errors %}input-group--error{% endif %}">
            <label id="PasswordLabel" for="Password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <input type="password" name="password"
              id="Password"
              class="input-group__field input--content-color {% if form.errors %}input--error{% endif %}"
              placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
              data-login-field
              autocomplete="off"
              aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
              {% if form.errors %}
                data-error="password"
                aria-invalid="true"
              {%- endif -%}
            >
            <span class="input-group__btn">
              <button type="submit" name="commit" class="btn btn--narrow">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            </span>
          </div>
          {%- if form.errors -%}
            <span id="{{ formId }}-password-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.messages['form'] }}</span>
            </span>
          {%- endif -%}
        {% endform %}
        
      </div>
    </div>
  </div>

  <script>
    var theme = {
      strings: {
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      }
    }
  </script>
  <script type="text/javascript">
    $('#show-modal').click(function(e){
      e.preventDefault();
      $('.modal').css('display','block');
      $('.modal').css('opacity','1');
    });

    $('.modal__close').click(function(e){
      e.preventDefault();
      $('.modal').css('display','none');
      $('.modal').css('opacity','0');
    });



  </script>
</body>
</html>
