<div class="jc-404-section">
  {% if section.settings.heading != blank %}
    <div class="big-medium-text margin-b-15">{{ section.settings.heading }}</div>
  {% endif %}
  {% if section.settings.description != blank %}
    <div class="general-text margin-b-20">{{ section.settings.description }}</div>
  {% endif %}
  {% if section.settings.image != blank %}
    <div class="jc-404__image">
      {{ section.settings.image | img_url: '750x' | img_tag }}
    </div>
  {% endif %}
  <div class="jc-404__button">
    <a href="{{ section.settings.button_link }}" class="general-btn center-land-down w-inline-block">
      <img
        src="//cdn.shopify.com/s/files/1/2534/9108/t/11/assets/pink-btn_250x.png?v=38894907622515419921679417736"
        loading="lazy"
        sizes="250px"
        alt=""
        class="btn-img">
      <div class="btn-text">{{ section.settings.button_label }}</div>
    </a>
  </div>
</div>
{% schema %}
  {
    "name": "404 Page",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Oopsie Daisy!"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Looks like this page does not exist. Find your way back by clicking the button below!</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Button"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Label",
        "default": "HOME PAGE"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Link"
      }
    ]
  }
{% endschema %}