<div class="hero-wrapper-meta">
  <div class="container-mid">
    {% if article.image %}
      <div class="img-block-holder-article">
        <img src="{{ article.image | img_url: '450x' }}" class="top-img-article">
      </div>
    {% endif %}
    {% if article.tags != blank %}
      <p class="article-tag">
        {{ article.tags | first }}
      </p>
    {% endif %}
    <h1 class="hero-heading-article">{{ article.title }}</h1>
    {% render 'social-list' %}
    <div class="meta-content-wrapper-article rte">
      {{ article.content }}
    </div>
    <div class="btn-wrapper-article">
      <a href="{{ blog.url }}" class="jc-button">Back to {{ blog.title }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Article",
    "settings": [],
    "presets": [
      {
        "name": "Article"
      }
    ]
  }
{% endschema %}