<div class="ethically-made-empowered-section">
  <div class="center-text-wrapper">
    <h2 class="smaller-h2">ethically made by empowered artisans in Kenya</h2>
  </div>
  <div class="flex-row-ethically-made">
    <div class="flex-col-ethically-made"><img
        src="{{ 'BA6B4310-min.jpg' | asset_img_url: '450x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 100vw, 27vw"
        alt=""
        class="ethically-img-bck">
      <a href="/collections/interactive-play" class="general-btn relative shorter w-inline-block"><img
          src="{{ 'pink-btn.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 190px, (max-width: 767px) 27vw, 190px"

          alt=""
          class="btn-img">
        <div class="btn-text">INTERACTIVE PLAY</div>
      </a>
    </div>
    <div class="flex-col-ethically-made"><img
        src="{{ 'BA6B3393-min.jpg' | asset_img_url: '450x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 100vw, 62vw"
        alt=""
        class="ethically-img-bck boyhood">
      <a href="/collections/imani-wall-hangings-collection" class="general-btn relative shorter w-inline-block"><img
          src="{{ 'pink-btn.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 190px, (max-width: 767px) 27vw, 190px"

          alt=""
          class="btn-img">
        <div class="btn-text">BANNERS</div>
      </a>
    </div>
    <div class="flex-col-ethically-made"><img
        src="{{ 'BA6B3393-min.jpg' | asset_img_url: '450x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 100vw, 49vw"
        alt=""
        class="ethically-img-bck pillows">
      <a href="/collections/imani-pillow-collection" class="general-btn relative shorter w-inline-block"><img
          src="{{ 'pink-btn.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 190px, (max-width: 767px) 27vw, 190px"

          alt=""
          class="btn-img">
        <div class="btn-text">PILLOWS</div>
      </a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Collection List",
    "settings": [],
    "presets": [
      {
        "name": "Collection List"
      }
    ]
  }
{% endschema %}