<div class="ethically-made-section" id="ethically-made-section--{{ section.id }}">
  <div
    data-delay="4000"
    data-animation="slide"
    class="ethically-made-slider w-slider"
    data-autoplay="false"
    data-easing="ease"
    data-hide-arrows="false"
    data-disable-swipe="false"
    data-autoplay-limit="0"
    data-nav-spacing="3"
    data-duration="500"
    data-infinite="true">
    <div class="w-slider-mask">
      {% for block in section.blocks %}
        <div class="w-slide">
          <div class="ethical-slider-inner">
            <div class="ethically-made-flex-row">
              <div class="ethically-made-img-flex-col"><img
                  src="{{ block.settings.image | img_url: '780x' }}"
                  loading="lazy"
                  sizes="(max-width: 479px) 76vw, (max-width: 767px) 32vw, 36vw"
                  alt=""
                  class="ethically-made-img"></div>
              <div class="ethically-made-flex-col-text">
                <div class="big-medium-text margin-b-15">{{ block.settings.header }}</div>
                <div class="general-text margin-b-40 tighter-width full-land smaller-margin-mob">{{ block.settings.description }}</div>
                <a href="{{ block.settings.button_link }}" class="general-btn align-right center-mob w-inline-block"><img
                    src="{{ 'pink-btn.png' | asset_img_url: '250x' }}"
                    loading="lazy"
                    sizes="(max-width: 479px) 90vw, 250px"
                    alt=""
                    class="btn-img">
                  <div class="btn-text">{{ block.settings.button_label }}</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="hide-arrow w-slider-arrow-left"></div>
    <div class="ethically-made-arrow w-slider-arrow-right">
      <div class="general-text medium-text">next</div><img
        src="{{ 'arrow-icon3x.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 40px, 50px"
        alt=""
        class="slider-arrow-img">
    </div>
    <div class="hide-slide-nav w-slider-nav w-round"></div>
  </div>
</div>
{% schema %}
  {
    "name": "Image with text slider",
    "settings": [],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "header",
            "label": "Header"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "header",
            "content": "Button"
          }, {
            "type": "text",
            "id": "button_label",
            "label": "Label"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text slider"
      }
    ]
  }
{% endschema %}