{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign product_image_zoom_size = '1024x1024' -%}
{%- assign product_image_scale = '2' -%}
{%- assign enable_zoom = section.settings.enable_zoom -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = current_variant.price -%}
{%- assign jc_available = current_variant.available -%}

{% if jc_available == true %}
  {% assign jc_btn_text = 'Add To Cart' %}
{% else %}
  {% assign jc_btn_text = 'Sold Out' %}
{% endif %}

<style type="text/css">
  .swatchify-cont .ps-option.ps-default .ps-swatch {
    color: #af7552;
    font-weight: bold;
  }
  .swatchify-cont .ps-option.ps-default .ps-swatch.ps-selected {
    border-color: #af7552;
  }
  .swatchify-cont.ps-style-5 .ps-option:not(.ps-default) .ps-swatch {
    padding: 1px;
  }
  .swatchify-cont .ps-header {
        font-family: Brandon, sans-serif;
         color: #af7552;
         font-size: 18px;
         line-height: 18px;
         letter-spacing: 1px;
         margin-bottom: 0px;
         font-weight: 400;
        
  }
  .swatchify-cont .ps-header span {
    text-transform: none;
  }
</style>

<div class="page-wrapper-product">
  <div class="container-xl">
    <div class="breadcrumb-wrapper-product">
      <a href="/collections/all" class="breadcrumb-link w-inline-block">
        <div>shop</div>
      </a>
      <div class="breadcrumb-breaker">/</div>

      {% for collection in product.collections %}
        {% if collection.id != 18134433827 and collection.id != 18134663203 %}
          <a href="{{collection.url}}" class="breadcrumb-link w-inline-block">
            <div>{{ collection.title }}</div>
          </a>
          <div class="breadcrumb-breaker">/</div>
        {% endif %}

      {% endfor %}

      <a href="{{product.url}}" class="breadcrumb-link breadcrumb-link-active w-inline-block">
        <div>{{ product.title }}</div>
      </a>
    </div>
    <div class="outer-row-product w-row">
      <div class="col-left-product w-col w-col-6">
        <div class="tabs-wrapper-product">
          <div
            data-duration-in="300"
            data-duration-out="100"
            class="tabs-product w-tabs">
            <div class="tabs-menu-product w-tab-menu">
              {% for image in product.images %}
                <a
                  data-w-tab="Tab {{ forloop.index }}"
                  class="tab-menu-link-product w-inline-block w-tab-link {% if forloop.index == 1 %}w--current{% endif %}"
                  jc-variant-id="{{ image | img_url: '800x' }}">
                  <div class="tab-menu-link-inner-product">
                    <img
                      src="{{ image | img_url: '400x' }}"
                      alt=""
                      class="tab-menu-link-img-product">
                  </div>

                </a>
              {% endfor %}
            </div>
            <div class="w-tab-content">
              {% for image in product.images %}
                <div data-w-tab="Tab {{ forloop.index }}" class="w-tab-pane {% if forloop.index == 1 %}w--tab-active{% endif %}">
                  <div class="tab-inner-product"><img
                      src="{{ image | img_url: '1100x' }}"
                      alt=""
                      class="tab-img-product"></div>
                </div>
              {% endfor %}
              <a class="tab-button tab-previous" href="javascript:;">
                <img src="https://cdn.shopify.com/s/files/1/2534/9108/files/shop_-_all_products_arrow_icon_left.png?v=1678980373" class="tab-button-img">
              </a>
              <a class="tab-button tab-next" href="javascript:;">
                <img src="https://cdn.shopify.com/s/files/1/2534/9108/files/shop_-_all_products_arrow_icon_5ac8bc0f-5b07-40ed-928b-31e2a9458150.png?v=1678980372" class="tab-button-img">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-right-product w-col w-col-6">
        <div class="col-right-inner-product">
          <div class="product-header">
            <h1 class="col-heading-product">{{ product.title }}</h1>
            {% if product.tags contains 'Top Rated' %}
              <h2 class="product-tag">
                <span>Top</span>
                <span>Rated</span>
              </h2>
            {% endif %}
          </div>        
          {% if compare_at_price > price %}
            <div class="price-text-product">
              <span style="text-decoration: line-through;font-weight: 400;letter-spacing: 2px;">{{ compare_at_price | money }}</span>
              <span id="price">{{ current_variant.price | money }}</span>
            </div>
          {% else %}
            <div class="price-text-product" id="price">
              {{ current_variant.price | money }}
            </div>
          {% endif %}

          <div class="product-options-wrapper">
            <div class="form-block w-form">
              {% form "product", product %}
                {% if product.variants.size > 1 %}
                  {% if product.options[0] %}
                    {% assign used = '' %}
                    <div class="product-options-flex-row">
                      <label for="select-one" class="product-options-label">{{ product.options[0] }}</label>
                      <div class="select-style">
                        <select id='select-one' class="product-page-select w-select">
                          {% for variant in product.variants %}
                            {% unless used contains variant.option1 %}
                              <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}value="{{ variant.option1 }}">{{ variant.option1 }}</option>
                              {% capture used %}
                                {{ used }} {{ variant.option1 }}{% endcapture %}
                            {% endunless %}
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                  {% endif %}
                  {% if product.options[1] %}
                    {% assign used = '' %}
                    <div class="product-options-flex-row">
                      <label for="select-one" class="product-options-label">{{ product.options[1] }}</label>
                      <div class="select-style">
                        <select id='select-two' class="product-page-select w-select">
                          {% for variant in product.variants %}
                            {% unless used contains variant.option2 %}
                              <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}value="{{ variant.option2 }}">{{ variant.option2 }}</option>
                              {% capture used %}
                                {{ used }} {{ variant.option2 }}{% endcapture %}
                            {% endunless %}
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  {% endif %}
                  {% if product.options[2] %}
                    {% assign used = '' %}
                    <div class="product-options-flex-row">
                      <label for="select-one" class="product-options-label">{{ product.options[2] }}</label>
                      <div class="select-style">
                        <select id='select-three' class="product-page-select w-select">
                          {% for variant in product.variants %}
                            {% unless used contains variant.option3 %}
                              <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}value="{{ variant.option3 }}">{{ variant.option3 }}</option>
                              {% capture used %}
                                {{ used }} {{ variant.option3 }}{% endcapture %}
                            {% endunless %}
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  {% endif %}
                {% endif %}
                
                <input
                  type="hidden"
                  name="id"
                  id="product-select"
                  value="{{ product.variants.first.id }}" />
                <div class="product-options-flex-row">
                  <div class="product-options-label">Quantity</div>
                  <div class="product-quantity">
                    <span class="quantity-icon quantity-minus">
                        <img src="https://cdn.shopify.com/s/files/1/2534/9108/files/shop_-_product_page_-_canvas_minus.png?v=1679589676" class="quantity-icon-img">
                    </span>
                    <input
                    type="number"
                    class="product-page-input w-input"
                    value="1"
                    min="1"
                    name="quantity"
                    id="field-2">
                    <span class="quantity-icon quantity-plus">
                        <img src="https://cdn.shopify.com/s/files/1/2534/9108/files/shop_-_product_page_-_canvas_plus.png?v=1679589676" class="quantity-icon-img">
                    </span>
                  </div>
                </div>
                <div class="product-btn-wrapper">
                  <input
                    id="jc-add-to-cart-btn"
                    type="submit"
                    value="{{jc_btn_text}}"
                    data-wait="Please wait..."
                    class="jc-button jc-secondary-button">
                </div>
              {% endform %}


              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="product-description-wrapper">
            {% if product.description contains 'data-mce-fragment="1"' %}
              {% assign description = product.description | remove: '<p data-mce-fragment="1">' | remove: '</p>'   %}
              {% assign description = description | replace: '<strong data-mce-fragment="1">', '</div><p class="product-accordion__header">' %}
              {% assign description = description | replace: '<b data-mce-fragment="1">', '</div><p class="product-accordion__header">' %}
              {% assign description = description | replace: '</strong>', '</p><div class="product-accordion__content">' %}
              {% assign description = description | replace: '</b>', '</p><div class="product-accordion__content">' %}
              {% assign description = description | remove_first: '</div>'  %}
              {% assign description = description | replace: '<div class="product-accordion__content"><br data-mce-fragment="1">', '<div class="product-accordion__content">' %}
              {% assign description = description | replace: '<br data-mce-fragment="1"></div>', '</div>' %}
            {% else %}
              {% assign description = product.description %}
            {% endif %}
            
            <div class="product-description-text">{{ description }}</div>

          </div>
          <div class="product-social-wrapper">
            <div class="product-social-heading">Share</div>
            <div class="product-social-flex-row">
              <a
                href="//www.facebook.com/sharer.php?u={{ shop.url | append: product.url }}"
                class="product-social-link w-inline-block"
                target="_blank"><img
                  src="https://cdn.shopify.com/s/files/1/2534/9108/files/shop_-_all_products_fb_icon_c4bdef73-ef3e-4f9c-b72e-c626d64bd285.png?v=1678745452"
                  alt="Facebook Logo"
                  class="product-social-img"></a>
              <a
                href="//twitter.com/share?text={{ product.title | url_param_escape }}&amp;url={{ shop.url | append: product.url }}"
                class="product-social-link w-inline-block"
                target="_blank"><img
                  src="https://cdn.shopify.com/s/files/1/2534/9108/files/twitter_8ae3b25b-e415-4458-9fa0-a5fe49632f63.png?v=1679589464"
                  alt="Twitter Logo"
                  class="product-social-img"></a>
              <a
                href="//pinterest.com/pin/create/button/?url={{ shop.url | append: product.url }}&amp;media={{ product | img_url: '1024x1024' }}&amp;description={{ product.title | url_param_escape }}"
                class="product-social-link w-inline-block"
                target="_blank"><img
                  src="https://cdn.shopify.com/s/files/1/2534/9108/files/shop_-_all_products_pinterest_icon_0ffdb465-b162-4bf5-9edb-1bc76a29539d.png?v=1678745452"
                  alt="Pinterest Logo"
                  class="product-social-img"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>