<div class="get-involved-hero">
  <div class="center-text-wrapper margin-bottom-large">
    <h1>get involved</h1>
  </div>
  <div class="get-involved-flex-row">
    <div class="get-involved-img-wrapper"><img
        src="{{ 'collaborate.png' | asset_img_url: '500x' }}"
        loading="lazy"
        alt=""
        class="img-top-get-involved"></div>
    <div class="get-involved-flex-text">
      <h1 class="margin-b-15">collaborate</h1>
      <h2 class="margin-b-40 smaller-margin-mob">we believe in collaboration over competition</h2>
      <div class="general-text margin-b-20">Working with other artists, creators, and brands has been one way for us to empower each other. If you think your brand aligns with your values and are excited about being a part of what our artisans are doing in Kenya, reach out with your vision and we will get back to you as soon as possible</div>
      <a
        data-w-id="04cbae47-0d86-3994-9d49-13fa93db61bf"
        href="#"
        id="button-above-carrer-section"
        class="general-btn skinnier align-right center-mob w-inline-block"><img
          src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="133px"
          alt=""
          class="btn-img">
        <div class="btn-text">REACH OUT</div>
      </a>
    </div>
  </div>
</div>
<div class="job-openings-section">
  <div class="center-text-wrapper">
    <h1 class="margin-b-15">job openings</h1>
    <h2 class="margin-b-15">want to experience working with an ethical brand?</h2>
    <div class="general-text">Whether you&#x27;re looking to hone in on your design skills, learn more about marketing strategy, or spend time in Kenya seeing our ethical manufacturing firsthand, we have the place for you to learn and make an impact.</div>
    <div class="job-openings-wrapper">
      <div class="job-opening-flex-row">
        <div class="location-wrapper">
          <div class="smaller-italic-text">Dallas, Texas</div>
        </div>
        <div class="job-name-wrapper">
          <div>MARKETING + EVENTS INTERNSHIP</div>
        </div>
        <a
          data-w-id="b84be03f-04ea-c585-5602-bfe8e036d937"
          href="#"
          class="general-btn skinnier align-right center-mob w-inline-block"><img
            src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 133px, (max-width: 767px) 26vw, 133px"

            alt=""
            class="btn-img">
          <div class="btn-text">LEARN MORE</div>
        </a>
      </div>
      <div class="job-opening-flex-row">
        <div class="location-wrapper">
          <div class="smaller-italic-text">Mombasa, Kenya</div>
        </div>
        <div class="job-name-wrapper">
          <div>KENYA INTERNSHIP</div>
        </div>
        <a
          data-w-id="b9c62522-d8b9-e8f4-3208-b7b40be52a56"
          href="#"
          class="general-btn skinnier align-right center-mob w-inline-block"><img
            src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 133px, (max-width: 767px) 25vw, 133px"

            alt=""
            class="btn-img">
          <div class="btn-text">LEARN MORE</div>
        </a>
      </div>
      <div class="job-opening-flex-row">
        <div class="location-wrapper">
          <div class="smaller-italic-text">remote</div>
        </div>
        <div class="job-name-wrapper">
          <div>development + strategic partnerships internship</div>
        </div>
        <a
          data-w-id="5f94c810-785b-7ece-19ec-3d6ca0af7d43"
          href="#"
          class="general-btn skinnier align-right center-mob w-inline-block"><img
            src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 133px, (max-width: 767px) 26vw, 133px"

            alt=""
            class="btn-img">
          <div class="btn-text">LEARN MORE</div>
        </a>
      </div>
      <div class="job-opening-flex-row">
        <div class="location-wrapper">
          <div class="smaller-italic-text">remote</div>
        </div>
        <div class="job-name-wrapper">
          <div>STORYTELLING + DONOR RELATION INTERNSHIP</div>
        </div>
        <a
          data-w-id="c5d9baf5-f784-489a-5bd4-9d783dd566a0"
          href="#"
          class="general-btn skinnier align-right center-mob w-inline-block"><img
            src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 133px, (max-width: 767px) 26vw, 133px"

            alt=""
            class="btn-img">
          <div class="btn-text">LEARN MORE</div>
        </a>
      </div>
      <div class="job-opening-flex-row">
        <div class="location-wrapper">
          <div class="smaller-italic-text">remote</div>
        </div>
        <div class="job-name-wrapper">
          <div>GRANT WRITING INTERNSHIP</div>
        </div>
        <a
          data-w-id="83cc3da3-cdc0-8e34-de1b-6d090ef38161"
          href="#"
          class="general-btn skinnier align-right center-mob w-inline-block"><img
            src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 133px, (max-width: 767px) 26vw, 133px"

            alt=""
            class="btn-img">
          <div class="btn-text">LEARN MORE</div>
        </a>
      </div>
      <div class="job-opening-flex-row">
        <div class="location-wrapper">
          <div class="smaller-italic-text">remote</div>
        </div>
        <div class="job-name-wrapper">
          <div>CONTENT CREATION INTERN</div>
        </div>
        <a
          data-w-id="207de80c-473d-6152-df72-2adb40cd969e"
          href="#"
          class="general-btn skinnier align-right center-mob w-inline-block"><img
            src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 133px, (max-width: 767px) 26vw, 133px"

            alt=""
            class="btn-img">
          <div class="btn-text">LEARN MORE</div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="involved-info-section">
  <div class="involved-info-flex-row with-pink-img">
    <div class="involved-info-text-wrapper">
      <div class="big-medium-text margin-b-15">brand affiliates</div>
      <div class="general-text margin-b-40">We want to see our artisan made goods in your beautiful homes + spaces. We want to share our heart with you + watch you share it with the world. You don&#x27;t need to have thousands of followers to apply. We just want to spread some Imani Collective goodness!</div>
      <a href="#" class="general-btn center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="250px"

          alt=""
          class="btn-img">
        <div class="btn-text">APPLY NOW</div>
      </a>
    </div>
    <div class="involved-info-img"><img
        src="{{ 'get-involved_brand-affiliates.png' | asset_img_url: '500x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 81vw, 36vw"
        alt=""
        class="img-imani-experience left-positive-margin"></div>
  </div>
  <div class="involved-info-flex-row">
    <div class="involved-info-img"><img
        src="{{ 'get-involved_imani-experience.png' | asset_img_url: '500x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 81vw, 36vw"
        alt=""
        class="img-imani-experience"></div>
    <div class="involved-info-text-wrapper right-side">
      <div class="big-medium-text margin-b-15">the imani experience</div>
      <h2 class="margin-b-15">want to go visit our
        <span class="artisans-break">artisans in kenya?</span>
      </h2>
      <div class="general-text margin-b-15">We will spend time at both Imani workshops 0 in Old Town + Mtepeni - where you will have the opportunity to learn + explore what is happening in the &quot;boots on the ground&quot; operations of Imani Collective. You will serve a key role in assisting us to strengthen, improve + grow our holistic programs, and continue to advocate for us globally. Your Imani Experience will be tailored specifically to your team based on the experience, passions + skills you possess individually + collectively.</div>
      <a href="#" class="general-btn align-right center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="250px"

          alt=""
          class="btn-img">
        <div class="btn-text">LEARN MORE</div>
      </a>
    </div>
  </div>
  <div class="involved-info-flex-row">
    <div class="involved-info-text-wrapper">
      <div class="big-medium-text margin-b-15">impact partners</div>
      <div class="general-text margin-b-40 tighter-width-left-side">Embracing proactive and strategic collectiveness for mutual and global gain.</div>
      <a href="#" class="general-btn center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="250px"

          alt=""
          class="btn-img">
        <div class="btn-text">LEARN MORE</div>
      </a>
    </div>
    <div class="involved-info-img"><img
        src="{{ 'get-involved_partnerships.png' | asset_img_url: '500x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 81vw, 36vw"
        alt=""
        class="img-imani-experience left-positive-margin"></div>
  </div>
  <div class="involved-info-flex-row give">
    <div class="involved-info-img with-squiggle"><img
        src="{{ 'get-involved_give.png' | asset_img_url: '500x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 72vw, 32vw"
        alt=""
        class="img-imani-experience"></div>
    <div class="involved-info-text-wrapper right-side give">
      <div class="big-medium-text margin-b-15">give</div>
      <div class="general-text margin-b-40">Walk alongside us as we fight to break the generational cycle of poverty in Kenya through holistic artisan empowerment. Our goal is to raise $100,000 by year-end to cover all expenses for our 2021 holistic programs, which are at the heart of our mission. Support our Artisans. Your generosity empowers.</div>
      <a href="#" class="general-btn align-right center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="250px"

          alt=""
          class="btn-img">
        <div class="btn-text">DONATE</div>
      </a>
    </div>
  </div>
  <div class="involved-info-flex-row">
    <div class="involved-info-text-wrapper">
      <div class="big-medium-text margin-b-15">volunteer</div>
      <h2 class="margin-b-40 smaller-margin-land-down">we&#x27;re always looking to
        <span class="expand-text-span">expand and grow</span>
      </h2>
      <div class="general-text margin-b-40 tighter-width-left-side smaller-land-down">We are always looking for help in our markets and various events throughout the year. If you are in the Dallas area or know of a market or event you would like to represent us in, let us know!</div>
      <div class="general-text margin-b-40 tighter-width-left-side">Tell us a little about yourself and our team will get back to you as soon as possible.</div>
      <a href="#" class="general-btn skinnier center-mob w-inline-block"><img
          src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="133px"

          alt=""
          class="btn-img">
        <div class="btn-text">REACH OUT</div>
      </a>
    </div>
    <div class="involved-info-img"><img
        src="{{ 'get-involved_volunteer.png' | asset_img_url: '500x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 81vw, 36vw"
        alt=""
        class="img-imani-experience left-positive-margin"></div>
  </div>
</div>
<div style="opacity:0;display:none" class="modal-reach-out">
  <div data-w-id="3bab0704-9adb-c7a0-43e0-14e2b6d6ede5" class="modal-close-bck"></div>
  <div class="modal-content-wrapper">
    <div class="modal-content-inner">
      <div class="smaller-medium-text margin-b-40">REACH OUT</div>
      <div class="form-block-reach-out w-form">
        {% comment %}
        <form
        id="wf-form-Volunteer-Reach-Out-Form"
        name="wf-form-Volunteer-Reach-Out-Form"
        data-name="Volunteer/Reach Out Form"
        method="get">
        <div class="form-flex-row"><input
        type="text"
        class="form-field-reach-out w-input"
        maxlength="256"
        name="name"
        data-name="Name"
        placeholder="your name"
        id="name"
        required=""><input
        type="email"
        class="form-field-reach-out w-input"
        maxlength="256"
        name="email"
        data-name="Email"
        placeholder="your email address"
        id="email"
        required=""></div>
        <textarea
        placeholder="message"
        maxlength="5000"
        id="Message"
        name="Message"
        data-name="field"
        class="form-field-reach-out full w-input"></textarea><input
        type="submit"
        value="Submit"
        data-wait="Please wait..."
        class="submit-btn w-button">
        </form>
        {% endcomment %}
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      <a
        data-w-id="cae5d614-eb6b-bc5e-0e34-c305afc9493f"
        href="#"
        class="black-to-brown-link w-inline-block">
        <div class="general-text">nevermind</div>
      </a>
    </div><img
      src="{{ 'model_model-circle2.png' | asset_img_url: '500x' }}"
      loading="lazy"
      sizes="100vw"
      alt=""
      class="modal-background-img">
  </div>
</div>
{% schema %}
  {
    "name": "get involved",
    "settings": [],
    "presets": [
      {
        "name": "get involved"
      }
    ]
  }
{% endschema %}