<div class="impact-hero-section">
  <div class="center-text-wrapper margin-bottom-large"></div>
  <div class="impact-hero-flex-row">
    <div class="impact-hero-flex-col">
      <div class="center-text-wrapper">
        <h2 class="margin-b-15">our mission</h2>
      </div>
      <div class="general-text margin-b-20">Together, we unleash greatness within artisans + their communities by crafting ethical lifestyle products that cultivate holistic empowerment and opportunity</div>
    </div>
    <div class="impact-hero-flex-col">
      <div class="center-text-wrapper">
        <h2 class="margin-b-15">our vision</h2>
      </div>
      <div class="general-text margin-b-20">Through holistic empowerment, opportunity and community we will break the generation cycle of poverty through the transformation of a woman.</div>
    </div>
  </div>
  <div class="the-problem-circle-wrapper">
    <div class="center-text-wrapper">
      <h1 class="margin-b-40 smaller-margin-mob">the problem</h1>
      <h2 class="margin-b-15">status of workforce
        <span class="development-break-text">development</span>
      </h2>
      <div class="problem-flex-row">
        <div class="problem-flex-col">
          <div class="big-medium-text margin-b-15">49%</div>
          <div class="general-text">Mombasa County unemployment rate</div>
        </div>
        <div class="problem-flex-col">
          <div class="big-medium-text margin-b-15">4.9%</div>
          <div class="general-text">Kenya national unemployment rate</div>
        </div>
        <div class="problem-flex-col">
          <div class="big-medium-text margin-b-15">1.2M</div>
          <div class="general-text">Population of Mombasa</div>
        </div>
      </div>
      <div class="existing-job-text-wrapper">
        <div class="larger-normal-text">Existing artisan jobs</div>
        <ul role="list" class="list-artisans">
          <li class="list-item-artisans">
            <div class="general-text black-text">inconsistent</div>
          </li>
          <li class="list-item-artisans">
            <div class="general-text black-text">unreliable per piece payment model</div>
          </li>
          <li class="list-item-artisans">
            <div class="general-text black-text">lack of market connections</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="solution-section">
  <div class="center-text-wrapper">
    <h1 class="margin-b-30">the solution</h1>
    <h2 class="margin-b-15">A socioeconomic empowerment model that provides not just employment opportunity, but community + necessary holistic care.</h2>
  </div>
  <div class="squiggle-solution"><img
      src="{{ 'shape-2.png' | asset_img_url: '250x' }}"
      loading="lazy"
      sizes="100vw"
      alt=""></div>
  <div class="cloud-solution"><img
      src="{{ 'cloud-outline.png' | asset_img_url: '250x' }}"
      loading="lazy"
      sizes="100vw"
      alt=""></div>
</div>
<div class="glance-section">
  <div class="center-text-wrapper">
    <div class="big-medium-text margin-b-15">impact at a glance</div>
  </div>
  <div class="glance-flex-row no-margin-b">
    <div class="glance-text-wrapper">
      <h2 class="margin-b-30 negative-margin-r">dignified employment</h2>
      <div class="glance-inner-flex-row">
        <div class="glance-inner-flex-col">
          <div class="big-medium-text margin-b-10">00</div>
          <div class="general-text">artisans in extreme poverty employed</div>
        </div>
        <div class="glance-inner-flex-col">
          <div class="big-medium-text margin-b-10">00</div>
          <div class="general-text">Living Above the $1.90 Poverty Line</div>
        </div>
      </div>
    </div>
    <div class="glance-img-flex"><img
        src="{{ 'artisans.png' | asset_img_url: '450x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 57vw, (max-width: 767px) 50vw, (max-width: 991px) 27vw, 32vw"

        alt=""
        class="glance-img"><img
        src="{{ 'plant-bird-of-paradise.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 21vw, (max-width: 767px) 25vw, (max-width: 991px) 16vw, 19vw"
        alt=""
        class="glance-img-2"></div>
  </div>
  <div class="glance-flex-row alt">
    <div class="glance-img-flex alt"><img
        src="{{ 'giraffe.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 36vw, (max-width: 767px) 43vw, 19vw"
        alt=""
        class="giraffe-img"><img
        src="{{ 'our-story_sparkle.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 24vw, (max-width: 767px) 29vw, 13vw"
        alt=""
        class="glance-img-3"></div>
    <div class="glance-text-wrapper alt">
      <h2 class="margin-b-30">economic independence</h2>
      <div class="glance-inner-flex-row second">
        <div class="glance-inner-flex-col">
          <div class="big-medium-text margin-b-10">00</div>
          <div class="general-text">artisans own land or a home</div>
        </div>
        <div class="glance-inner-flex-col">
          <div class="big-medium-text margin-b-10">00</div>
          <div class="general-text">artisans have an entrepreneurial business</div>
        </div>
        <div class="glance-inner-flex-col">
          <div class="big-medium-text margin-b-10">00</div>
          <div class="general-text">artisans have a bank account</div>
        </div>
      </div>
    </div>
  </div>
  <div class="glance-flex-row bottom">
    <div class="glance-text-wrapper bottom">
      <div class="transformed-flex-row">
        <h2 class="margin-b-30">transformed communities</h2><img
          src="{{ 'economic-independence.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 767px) 100vw, (max-width: 991px) 160px, 180px"
          alt=""
          class="grad-img">
      </div>
      <div class="glance-inner-flex-row second transformed-communities">
        <div class="glance-inner-flex-col com">
          <div class="big-medium-text margin-b-10">0%</div>
          <div class="general-text">of artisans hold a leadership position in their community</div>
        </div>
        <div class="glance-inner-flex-col com">
          <div class="big-medium-text margin-b-10">0%</div>
          <div class="general-text">of artisans are educating at least one child</div>
        </div>
        <div class="glance-inner-flex-col com">
          <div class="big-medium-text margin-b-10">0%</div>
          <div class="general-text">of artisans have access to good healthcare</div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-right-picture"><img
      src="{{ 'blog_the-collective_1.png' | asset_img_url: '250x' }}"
      loading="lazy"
      sizes="100vw"
      alt=""></div>
  <div class="bottom-picture"><img
      src="{{ 'model_people_1.png' | asset_img_url: '250x' }}"
      loading="lazy"
      sizes="100vw"
      alt=""></div>
</div>
<div class="holistic-section">
  <div class="center-text-wrapper">
    <h1 class="margin-b-30">holistic programs</h1>
    <div class="general-text margin-b-20">The foundation of who we are lies in our holistic programs. We believe that radical transformation can happen through the empowerment of the whole person. We are more than a job, we are a collective - a family - that provides for our women + men in all facets of life.</div>
    <div class="general-text margin-b-20">We are committed to improving our team&#x27;s economic, spiritual, emotional and social well-being. At Imani Collective, we support the United Nations 2030 Agenda for Sustainable Development and are aligned with SDG 1: No Poverty, SDG 8: Decent work and economic growth, and SDG 12: Responsible consumption and production</div>
    <div class="general-text margin-b-40">Our desire is for the generational cycle of poverty to be broken among our communities and through the access of dignified employment and education, our artisans are improving their standard of living and cultivating a brighter future for their families.</div>
  </div>
  <div
    data-delay="4000"
    data-animation="slide"
    class="sustainability-slider w-slider"
    data-autoplay="true"
    data-easing="ease"
    data-hide-arrows="false"
    data-disable-swipe="false"
    data-autoplay-limit="0"
    data-nav-spacing="3"
    data-duration="500"
    data-infinite="true">
    <div class="w-slider-mask">
      <div class="w-slide">
        <div class="hol-flex-row">
          <div class="hol-flex-col"><img
              src="{{ 'impact-partners_dream-managment.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 479px) 110px, 130px"
              alt="Light purple cloud"
              class="hol-img team-building">
            <h2 class="smaller-h2 sus-slider">Dream management</h2>
            <div class="general-text">personalized discussions + training in financial budgeting, time management, etc. to help our artisans take steps towards realizing individual goals.</div>
          </div>
          <div class="hol-flex-col"><img
              src="{{ 'impact-partners_childcare.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 479px) 110px, 130px"
              alt="Two socks drawn"
              class="hol-img">
            <h2 class="smaller-h2 sus-slider">In-house childcare</h2>
            <div class="general-text">structured program for artisans&#x27; children to attend during the day while parents work, which includes themed curriculum, field trips, English courses, primary school entrance test preparation, creative crafts and more.</div>
          </div>
          <div class="hol-flex-col"><img
              src="{{ 'impact-partners_food-program.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 479px) 110px, 130px"
              alt="A drawing of a banana and a radish"
              class="hol-img">
            <h2 class="smaller-h2 sus-slider">Food program</h2>
            <div class="general-text">daily well-balanced meals</div>
          </div>
          <div class="hol-flex-col"><img
              src="{{ 'blog_the-collective_1.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 479px) 110px, 130px"
              alt=""
              class="hol-img team-building">
            <h2 class="smaller-h2 sus-slider">Team Building</h2>
            <div class="general-text">once per quarter we hold team building outings</div>
          </div>
        </div>
      </div>
      <div class="w-slide">
        <div class="hol-flex-row">
          <div class="hol-flex-col"><img
              src="{{ 'impact-partners_home-visits.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 479px) 110px, 130px"
              alt="Drawing of a building with a door, two stories, and a roof. The building is light pink and the roof is light brown"
              class="hol-img team-building">
            <h2 class="smaller-h2 sus-slider">Home visits</h2>
            <div class="general-text">twice-per-month trips to visit artisans and their families, where we check in and present a love offering gift bag</div>
          </div>
          <div class="hol-flex-col"><img
              src="{{ 'impact-partners_rise-program.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 479px) 110px, 130px"
              alt="Slide icon"
              class="hol-img team-building">
            <h2 class="smaller-h2 sus-slider">RISE personal development (Realize Internal Self Excellence)</h2>
            <div class="general-text">character-building program hosted once per week at each location</div>
          </div>
          <div class="hol-flex-col"><img
              src="{{ 'impact-partners_special-events.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 479px) 110px, 130px"
              alt="Drawing of a cake with a candle in the center"
              class="hol-img team-building">
            <h2 class="smaller-h2 sus-slider">Special events</h2>
            <div class="general-text">monthly artisan, employee and children&#x27;s birthday celebrations, in addition to holiday parties, cultural field trips and an end-of-year celebration.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow-sustainability w-slider-arrow-left">
      <div class="arrow-icon left-side w-icon-slider-left"></div>
    </div>
    <div class="arrow-sustainability w-slider-arrow-right">
      <div class="arrow-icon w-icon-slider-right"></div>
    </div>
    <div class="slide-nav-sustainability w-slider-nav w-slider-nav-invert w-round"></div>
  </div>
</div>
<div class="button-section">
  <div class="benefit-flex-row">
    <a
      href="https://static.showit.co/file/Awis6dsRQBOl348nJTZrpA/191139/sustainability_report_2022_edit_-compressed.pdf"
      class="general-btn benefits w-inline-block"
      target="_blank"><img
        sizes="(max-width: 479px) 95vw, (max-width: 767px) 80vw, 45vw"
        src="{{ 'sustainability-btn.png' | asset_img_url: '500x' }}"
        loading="lazy"
        alt=""
        class="btn-img">
      <div class="btn-text">SEE OUR ENVIRONMENTAL SUSTAINABILITY REPORT</div>
    </a>
    <a
      href="https://mcusercontent.com/3a1ecc51bdea229e05327c57e/files/f5131e38-88dc-698c-8d39-8dc2eb82ddd4/impact_report_2022_reduced_size.pdf"
      class="general-btn benefits w-inline-block"
      target="_blank"><img
        sizes="(max-width: 479px) 95vw, (max-width: 767px) 80vw, 45vw"
        src="{{ 'sustainability-btn.png' | asset_img_url: '500x' }}"
        loading="lazy"
        alt=""
        class="btn-img">
      <div class="btn-text">DOWNLOAD OUR 2022 <br>IMPACT REPORT</div>
    </a>
  </div>
</div>
{% schema %}
  {
    "name": "Impact",
    "settings": [],
    "presets": [
      {
        "name": "Impact"
      }
    ]
  }
{% endschema %}