<div class="collaboration-hero-section">
  <div class="center-text-wrapper">
    <h1 class="margin-b-40 smaller-margin-mob">{{ section.settings.heading }}</h1>
    <div class="general-text">{{ section.settings.description }}</div>
  </div>
</div>
<div class="collaboration-all-section">
  {% for block in section.blocks %}
    <div class="collaboration-individual {% if block.settings.reserve %}reserve{% endif %}">
      <div class="collaboration-img-wrapper">
        <img
          src="{{ block.settings.image | img_url: '750x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 90vw, (max-width: 767px) 41vw, (max-width: 991px) 40vw, 41vw"
          alt=""
          class="blog-feature-img"></div>
      <div class="collaboration-individual-text-wrapper {% if block.settings.reserve %}alt{% endif %}">
        <h2 class="margin-b-15 collab-text">{{ block.settings.heading }}</h2>
        <div class="general-text margin-b-15">{{ block.settings.description }}</div>
        <a
          href="{{ block.settings.instagram_link }}"
          target="_blank"
          class="flex-link-collab w-inline-block {% if block.settings.reserve %}alt{% endif %}"><img
            src="//cdn.shopify.com/s/files/1/2534/9108/files/shop_-_all_products_IG_icon_fdfa3ea1-a167-4414-bf91-72815bc97e4b.png?v=1678745452"
            loading="lazy"
            alt=""
            class="instagram-logo-img">
          <div>{{ block.settings.instagram_label }}</div>
        </a>
        <a href="{{ block.settings.button_link }}" class="general-btn w-inline-block {% if block.settings.reserve %} align-right switch-mobile{% else %} center-mob{% endif %}"><img
            src="{{ 'collaborations_shop-this-collection.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 87vw, 250px"
            alt=""
            class="btn-img">
          <div class="btn-text">{{ block.settings.button_label }}</div>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
<div class="collab-cta-section">
  <div class="collab-flex-row">
    <div class="collab-flex-col"><img
        src="{{ 'group-photo.png' | asset_img_url: '750x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 100vw, 60vw"
        alt=""
        class="collab-img"></div>
    <div class="collab-flex-text-col">
      <h1 class="margin-b-15">want to collaborate?</h1>
      <a href="/pages/contact" class="general-btn skinnier alt center-mob w-inline-block"><img
          src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 90vw, 160px"
          alt=""
          class="btn-img">
        <div class="btn-text">REACH OUT</div>
      </a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Collaboration page",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "collaborations"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>At Imani Collective, we've always believed in collaboration over competition. Working with other artists, creators, and brands has been one way for us to empower each other. We choose brands that align with our values and are excited about being a part of what our artisans are doing in Kenya.</p>"
      }
    ],
    "blocks": [
      {
        "type": "collaboration",
        "name": "Collaboration",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "header",
            "content": "Instagram"
          }, {
            "type": "text",
            "id": "instagram_label",
            "label": "Label"
          }, {
            "type": "url",
            "id": "instagram_link",
            "label": "Link"
          }, {
            "type": "header",
            "content": "Button"
          }, {
            "type": "text",
            "id": "button_label",
            "label": "Label"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          }, {
            "type": "checkbox",
            "id": "reserve",
            "label": "Image right",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collaboration page"
      }
    ]
  }
{% endschema %}