<div class="get-involved-hero">
  <div class="center-text-wrapper margin-bottom-large">
    <h1>get involved</h1>
  </div>
  <div class="get-involved-flex-row">
    <div class="get-involved-img-wrapper"><img
        src="{{ 'collaborate.png' | asset_img_url: '500x' }}"
        loading="lazy"
        alt=""
        class="img-top-get-involved"></div>
    <div class="get-involved-flex-text">
      <h1 class="margin-b-15">collaborate</h1>
      <h2 class="margin-b-40 smaller-margin-mob">we believe in collaboration over competition</h2>
      <div class="general-text margin-b-20">Working with other artists, creators, and brands has been one way for us to empower each other. If you think your brand aligns with our values and are excited about being a part of what our artisans are doing in Kenya, reach out with your vision and we will get back to you as soon as possible.</div>
      <a
        data-w-id="04cbae47-0d86-3994-9d49-13fa93db61bf"
        href="/pages/collaboration"
        id="collaboration-button"
        class="jc-button">
        OUR COLLABORATIONS
      </a>
    </div>
  </div>
  <div class="get-involved-flex-row reverse">
    <div class="get-involved-img-wrapper"><img
        src="{{ 'midwest.png' | asset_img_url: '500x' }}"
        loading="lazy"
        alt=""
        class="img-top-get-involved"></div>
    <div class="get-involved-flex-text">
      <h1 class="margin-b-15">custom pieces</h1>
      <div class="general-text margin-b-20">want to order something custom + ethical? Imani Collective's custom services allow you to customize a range of handmade canvas goods. Find the right product for you businesses and create a brand that makes an impact.</div>
      <a
        data-w-id="04cbae47-0d86-3994-9d49-13fa93db61bf"
        href="/pages/collaboration"
        id="collaboration-button"
        class="jc-button">
        LEARN MORE
      </a>
    </div>
  </div>
</div>
<div class="job-openings-section">
  <div class="center-text-wrapper">
    <h1 class="margin-b-15">job openings</h1>
    <h2 class="margin-b-15">want to experience working with an ethical brand?</h2>
    <div class="general-text">Whether you&#x27;re looking to hone in on your design skills, learn more about marketing strategy, or spend time in Kenya seeing our ethical manufacturing firsthand, we have the place for you to learn and make an impact.</div>
    <div class="job-openings-wrapper">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% if block.type == 'job' %}
            <div class="job-opening-flex-row">
              <div class="location-wrapper">
                <div class="smaller-italic-text">{{ block.settings.title }}</div>
              </div>
              <div class="job-name-wrapper">
                <div>{{ block.settings.location }}</div>
              </div>
              <a
                data-w-id="b84be03f-04ea-c585-5602-bfe8e036d937"
                href="{{ block.settings.link }}"
                class="general-btn skinnier align-right center-mob w-inline-block"><img
                  src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
                  loading="lazy"
                  sizes="(max-width: 479px) 133px, (max-width: 767px) 26vw, 133px"
                  alt=""
                  class="btn-img">
                <div class="btn-text">LEARN MORE</div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="general-text">
          <p>We have no job openings at this time. Please check back in the future!</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="involved-info-section">
  <div class="involved-info-flex-row with-pink-img">
    <div class="involved-info-text-wrapper">
      <div class="big-medium-text margin-b-15">brand affiliates</div>
      <div class="general-text margin-b-40">We want to see our artisan made goods in your beautiful homes + spaces. We want to share our heart with you + watch you share it with the world. You don&#x27;t need to have thousands of followers to apply. We just want to spread some Imani + Kids goodness!</div>
      <a href="https://theimanicollective.grin.live/affiliateapplication" class="general-btn center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="250px"
          alt=""
          class="btn-img">
        <div class="btn-text">APPLY NOW</div>
      </a>
    </div>
    <div class="involved-info-img"><img
        src="{{ 'get-involved_brand-affiliates.png' | asset_img_url: '500x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 81vw, 36vw"
        alt=""
        class="img-imani-experience left-positive-margin"></div>
  </div>
  <div class="involved-info-flex-row">
    <div class="involved-info-img"><img
        src="{{ 'get-involved_imani-experience.png' | asset_img_url: '500x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 81vw, 36vw"
        alt=""
        class="img-imani-experience"></div>
    <div class="involved-info-text-wrapper right-side">
      <div class="big-medium-text margin-b-15">the imani experience</div>
      <h2 class="margin-b-15">want to go visit our
        <span class="artisans-break">artisans in kenya?</span>
      </h2>
      <div class="general-text margin-b-15">We will spend time at both Imani workshops in Old Town + Mtepeni - where you will have the opportunity to learn + explore what is happening in the &quot;boots on the ground&quot; operations of Imani Collective. You will serve a key role in assisting us to strengthen, improve + grow our holistic programs, and continue to advocate for us globally. Your Imani Experience will be tailored specifically to your team based on the experience, passions + skills you possess individually + collectively.</div>
      <a href="https://imanicollective-ourimpact.org/imani-experience" class="general-btn align-right center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="250px"
          alt=""
          class="btn-img">
        <div class="btn-text">LEARN MORE</div>
      </a>
    </div>
  </div>
  <div class="involved-info-flex-row">
    <div class="involved-info-text-wrapper">
      <div class="big-medium-text margin-b-15">impact partners</div>
      <div class="general-text margin-b-40 tighter-width-left-side">Here at Imani Collective, we firmly believe that together, we are our best! Our desire is to partner with local and global businesses that have a heart for doing good in the world. We want deep, long-term relationships through which we can both make a big, holistic impact.<br></br>Through our non-profit wing, Imani Collective’s holistic support programs are 100% funded by donations. When you become an Impact Partner, your donation goes directly to these programs, which include our daily food program, in-house childcare, monthly home visits, and so much more. Find out how you can be an Impact Partner today!</div>
      <a href="https://imanicollective-ourimpact.org/impact-partners" class="general-btn center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="250px"
          alt=""
          class="btn-img">
        <div class="btn-text">LEARN MORE</div>
      </a>
    </div>
    <div class="involved-info-img"><img
        src="{{ 'get-involved_partnerships.png' | asset_img_url: '500x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 81vw, 36vw"
        alt=""
        class="img-imani-experience left-positive-margin"></div>
  </div>
  <div class="involved-info-flex-row give">
    <div class="involved-info-img with-squiggle"><img
        src="{{ 'get-involved_give.png' | asset_img_url: '500x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 72vw, 32vw"
        alt=""
        class="img-imani-experience"></div>
    <div class="involved-info-text-wrapper right-side give">
      <div class="big-medium-text margin-b-15">give</div>
      <div class="general-text margin-b-40">Walk alongside us as we fight to break the generational cycle of poverty in Kenya through holistic artisan empowerment. Our goal is to raise $100,000 by year-end to cover all expenses for our holistic programs, which are at the heart of our mission. Support our Artisans. Your generosity empowers.</div>
      <a href="https://imanicollective-ourimpact.org/donate" class="general-btn align-right center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="250px"
          alt=""
          class="btn-img">
        <div class="btn-text">DONATE</div>
      </a>
    </div>
  </div>
  <div class="involved-info-flex-row">
    <div class="involved-info-text-wrapper">
      <div class="big-medium-text margin-b-15">volunteer</div>
      <h2 class="margin-b-40 smaller-margin-land-down">we&#x27;re always looking to
        <span class="expand-text-span">expand and grow</span>
      </h2>
      <div class="general-text margin-b-40 tighter-width-left-side smaller-land-down">We are always looking for help in our markets and various events throughout the year. If you know of a market or event you would like to represent us in, let us know!</div>
      <div class="general-text margin-b-40 tighter-width-left-side">Tell us a little about yourself and our team will get back to you as soon as possible.</div>
      <a
        href="javascript:;"
        class="general-btn skinnier center-mob w-inline-block flex-link-artisan"
        data-ix="artisan-modal-open"><img
          src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="133px"
          alt=""
          class="btn-img">
        <div class="btn-text">REACH OUT</div>
      </a>
      <div class="modal-artisan get-invovled">
        <div class="modal-content-wrapper">
          <div class="modal-top-wrapper">
            <div class="modal-top-content-col">
              <h2 class="modal-heading">
                Reach out
              </h2>
              <div class="modal-form">
                {% form 'contact' %}
                  {% if form.posted_successfully? %}
                    <div class="jc-form-done">
                      <div>Thank you! Your submission has been received!</div>
                    </div>
                  {% else %}
                    <div class="modal-form-group w-row">
                      <div class="modal-form-col w-col w-col-6"><input
                          type="text"
                          class="modal-form-input w-input"
                          maxlength="256"
                          name="contact[Your-Name]"
                          data-name="Your-Name"
                          placeholder="Your Name"
                          id="Your-Name"
                          required=""></div>
                      <div class="modal-form-col w-col w-col-6"><input
                          type="email"
                          class="modal-form-input w-input"
                          maxlength="256"
                          name="contact[email]"
                          data-name="Email"
                          placeholder="Your Email Address"
                          id="email"
                          required=""></div>
                    </div>
                    <div class="modal-input-wrapper">
                      <textarea
                        placeholder="message"
                        maxlength="5000"
                        id="Message"
                        name="contact[Message]"
                        data-name="Message"
                        class="modal-form-input modal-form-input-area w-input"></textarea>
                    </div>
                    <div class="modal-btn-wrapper"><input
                        type="submit"
                        value="Submit"
                        data-wait="Please wait..."
                        class="jc-button"></div>
                  {% endif %}
                {% endform %}
              </div>
            </div>
            <a
              href="javascript:;"
              class="modal-close-btn"
              data-ix="artisan-modal-close">
              nevermind
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="involved-info-img"><img
        src="{{ 'get-involved_volunteer.png' | asset_img_url: '500x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 81vw, 36vw"
        alt=""
        class="img-imani-experience left-positive-margin"></div>
  </div>
</div>
<div style="opacity:0;display:none" class="modal-reach-out">
  <div data-w-id="3bab0704-9adb-c7a0-43e0-14e2b6d6ede5" class="modal-close-bck"></div>
  <div class="modal-content-wrapper">
    <div class="modal-content-inner">
      <div class="smaller-medium-text margin-b-40">REACH OUT</div>
      <div class="form-block-reach-out w-form">
        {% comment %}
        <form
        id="wf-form-Volunteer-Reach-Out-Form"
        name="wf-form-Volunteer-Reach-Out-Form"
        data-name="Volunteer/Reach Out Form"
        method="get">
        <div class="form-flex-row"><input
        type="text"
        class="form-field-reach-out w-input"
        maxlength="256"
        name="name"
        data-name="Name"
        placeholder="your name"
        id="name"
        required=""><input
        type="email"
        class="form-field-reach-out w-input"
        maxlength="256"
        name="email"
        data-name="Email"
        placeholder="your email address"
        id="email"
        required=""></div>
        <textarea
        placeholder="message"
        maxlength="5000"
        id="Message"
        name="Message"
        data-name="field"
        class="form-field-reach-out full w-input"></textarea><input
        type="submit"
        value="Submit"
        data-wait="Please wait..."
        class="submit-btn w-button">
        </form>
        {% endcomment %}
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      <a
        data-w-id="cae5d614-eb6b-bc5e-0e34-c305afc9493f"
        href="#"
        class="black-to-brown-link w-inline-block">
        <div class="general-text">nevermind</div>
      </a>
    </div><img
      src="{{ 'model_model-circle2.png' | asset_img_url: '500x' }}"
      loading="lazy"
      sizes="100vw"
      alt=""
      class="modal-background-img">
  </div>
</div>
{% schema %}
  {
    "name": "get involved",
    "settings": [],
    "blocks": [
      {
        "type": "job",
        "name": "Job",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "text",
            "id": "location",
            "label": "Location"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "get involved"
      }
    ]
  }
{% endschema %}