<div class="wholesale-hero-section">
  <div class="center-text-wrapper margin-bottom-large">
    <h1>wholesale</h1>
  </div>
  <div class="center-text-wrapper">
    <h2>We are on various platforms. Choose what&#x27;s best for you</h2>
  </div>
</div>
<div class="wholesale-mid-section">
  <div class="center-text-wrapper margin-bottom-large smaller-width">
    <h1 class="margin-b-40 smaller-margin-land-down">shop from us directly</h1>
    <div class="general-text margin-b-30">We would love to partner with you! Please reach out to us with any questions about wholesaling with us at:
      <a href="mailto:orders@imanicollective.com?subject=Wholesaling" class="black-to-brown-link full-width">orders@imanicollective.com</a>
    </div>
    <a href="https://imanicollective-wholesale.com/" class="general-btn longer center-align w-inline-block"><img
        src="{{ 'longer-btn_1.png' | asset_img_url: '350x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 85vw, 310px"
        alt=""
        class="btn-img">
      <div class="btn-text">SHOP WHOLESALE</div>
    </a>
    <div class="shop-directly-img-wrapper"><img
        src="{{ 'our-story_girl-with-backpack.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 767px) 200px, 230px"
        alt=""></div>
  </div>
  <div class="center-text-wrapper"></div>
</div>
<div class="peeba-section">
  <div class="center-text-wrapper">
    <h1>shop our collection on peeba</h1>
  </div>
  <div class="peeba-btn-wrapper">
    <a href="https://www.peeba.com/in/en/browse/imani-collective" class="general-btn longer center-align w-inline-block"><img
        src="{{ 'longer-btn_1.png' | asset_img_url: '350x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 100vw, 310px"
        alt=""
        class="btn-img">
      <div class="btn-text">SHOP WHOLESALE</div>
    </a>
  </div>
</div>
<div class="faire-section">
  <div class="center-text-wrapper margin-bottom-large-80 smaller-width">
    <h1>shop our collection on faire</h1>
    <div class="faire-flex-row">
      <div class="faire-flex-col no-margin-b">
        <div class="faire-icon-wrapper"><img
            src="{{ 'wholesale_free-returns.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 110px, (max-width: 767px) 120px, (max-width: 991px) 140px, 160px"
            alt=""></div>
        <h2 class="margin-b-15">Free returns</h2>
        <div class="general-text margin-b-15">for risk-free buying</div>
      </div>
      <div class="faire-flex-col no-margin-b">
        <div class="faire-icon-wrapper"><img
            src="{{ 'wholesale_piggy-bank.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 110px, (max-width: 767px) 120px, (max-width: 991px) 140px, 160px"
            alt=""></div>
        <h2 class="margin-b-15">Net 60 terms</h2>
        <div class="general-text margin-b-15">for stress-free payments</div>
      </div>
    </div>
  </div>
  <div class="center-text-wrapper margin-bottom-large-80 smaller-width">
    <h2 class="margin-b-15">New to Faire?</h2>
    <div class="general-text margin-b-30">You&#x27;ll get $100 off your first order, plus free shipping with us for an entire year</div>
    <a href="https://www.faire.com/brand/b_6xz45ha8" class="general-btn longer center-align w-inline-block"><img
        src="{{ 'longer-btn_1.png' | asset_img_url: '350x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 80vw, 310px"
        alt=""
        class="btn-img">
      <div class="btn-text">SHOP WHOLESALE</div>
    </a>
  </div>
  <div class="center-text-wrapper smaller-width-alt larger-tab-down">
    <div class="faire-flex-row-2">
      <div class="faire-flex-col">
        <div class="faire-icon-wrapper money"><img
            src="{{ 'wholesale_profit_1.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 130px, (max-width: 767px) 150px, 200px"
            alt=""></div>
        <div class="eyebrow-text">MINIMUM</div>
        <h1>$200</h1>
      </div>
      <div class="faire-flex-col">
        <div class="faire-icon-wrapper texas"><img
            src="{{ 'wholesale_dallas.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 767px) 100px, 140px"
            alt=""></div>
        <div class="eyebrow-text">SHIPPING FROM</div>
        <h1>Dallas, TX</h1>
      </div>
      <div class="faire-flex-col">
        <div class="faire-icon-wrapper calendar"><img
            src="{{ 'wholesale_calendar.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 90px, (max-width: 767px) 95px, 125px"
            alt=""></div>
        <div class="eyebrow-text">LEAD TIME</div>
        <h1>2-7 days</h1>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Wholesale",
    "settings": [],
    "presets": [
      {
        "name": "Wholesale"
      }
    ]
  }
{% endschema %}