<div class="collaboration-hero-section">
  <div class="center-text-wrapper">
    <h1 class="margin-b-40 smaller-margin-mob">collaborations</h1>
    <div class="general-text">At Imani Collective, we&#x27;ve always believed in collaboration over competition. Working with other artists, creators, and brands has been one way for us to empower each other. We choose brands that align with our values and are excited about being a part of what our artisans are doing in Kenya.</div>
  </div>
</div>
<div class="collaboration-all-section">
  <div class="collaboration-individual">
    <div class="collaboration-img-wrapper">
      <img
        src="{{ '2_6a966202-698d-4b88-9fd6-bc5efd0fa1dd-min.jpeg' | asset_img_url: '750x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 90vw, (max-width: 767px) 41vw, (max-width: 991px) 40vw, 41vw"
        alt=""
        class="blog-feature-img"></div>
    <div class="collaboration-individual-text-wrapper">
      <h2 class="margin-b-15 collab-text">Kristen Peers</h2>
      <div class="general-text margin-b-15">Kristen is an artist + illustrator based in Texas. She is the first of our new Artist Edition Series! Her visually simple, yet emotionally complex illustrations are a magical mixture of writing, humor, &amp; the weird things that make us human. We have loved working with her + seeing some of her popular illustrations come to life on our banners, hang signs, and pillows.</div>
      <a
        href="https://www.instagram.com/kb.illustration/"
        target="_blank"
        class="flex-link-collab w-inline-block"><img
          src="//cdn.shopify.com/s/files/1/2534/9108/files/shop_-_all_products_IG_icon_fdfa3ea1-a167-4414-bf91-72815bc97e4b.png?v=1678745452"
          loading="lazy"
          alt=""
          class="instagram-logo-img">
        <div>kb.illustration</div>
      </a>
      <a href="#" class="general-btn center-mob w-inline-block"><img
          src="{{ 'collaborations_shop-this-collection.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 87vw, 250px"
          alt=""
          class="btn-img">
        <div class="btn-text">SHOP THIS COLLECTION</div>
      </a>
    </div>
  </div>
  <div class="collaboration-individual tibeb">
    <div class="collaboration-individual-text-wrapper alt">
      <h2 class="margin-b-15 collab-text">Tibeb</h2>
      <div class="general-text margin-b-15">Tibeb Leather Works is an Ethiopian based social enterprise whose values + standards closely match our own. They provide employment + training opportunities for marginalized women in their community. In addition to the incredible quality of their products, their strong belief in women empowerment, fair wages, and positive social impact are some of the many reasons we chose to collaborate with Tibeb on the Selah backpacks.</div>
      <a
        href="https://www.instagram.com/tibeb_leather_works"
        target="_blank"
        class="flex-link-collab alt w-inline-block"><img
          src="//cdn.shopify.com/s/files/1/2534/9108/files/shop_-_all_products_IG_icon_fdfa3ea1-a167-4414-bf91-72815bc97e4b.png?v=1678745452"
          loading="lazy"
          alt=""
          class="instagram-logo-img">
        <div>TIbeb_leather_works</div>
      </a>
      <a href="#" class="general-btn align-right switch-mobile w-inline-block"><img
          src="{{ 'collaborations_shop-this-collection.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 87vw, 250px"
          alt=""
          class="btn-img">
        <div class="btn-text">SHOP THIS COLLECTION</div>
      </a>
    </div>
    <div class="collaboration-img-wrapper"><img
        src="{{ 'BA6B6751-min.jpg' | asset_img_url: '750x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 90vw, 37vw"
        alt=""
        class="blog-feature-img"></div>
  </div>
  <div class="collaboration-individual breathing-room">
    <div class="collaboration-img-wrapper"><img
        src="{{ 'Screen-Shot-2022-12-21-at-8.35.35-AM-min.png' | asset_img_url: '750x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 90vw, (max-width: 767px) 39vw, 40vw"
        alt=""
        class="blog-feature-img"></div>
    <div class="collaboration-individual-text-wrapper">
      <h2 class="margin-b-15 collab-text">Breathing Room</h2>
      <div class="general-text margin-b-15">We believe that choosing the objects that make up your home are important. Holly Blakey at Breathing Room Organization creates spaces that make people happy.</div>
      <div class="general-text margin-b-15">&quot;I&#x27;ve had many clients over the years say &quot;this is now my happy place.&quot;&quot;<br>– Holly Blakey, Founder of Breathing Room Organization</div>
      <a href="https://www.instagram.com/breathing.room.home/" class="flex-link-collab w-inline-block"><img
          src="//cdn.shopify.com/s/files/1/2534/9108/files/shop_-_all_products_IG_icon_fdfa3ea1-a167-4414-bf91-72815bc97e4b.png?v=1678745452"
          loading="lazy"
          alt=""
          class="instagram-logo-img">
        <div>breathing.room.home</div>
      </a>
      <a href="#" class="general-btn center-mob w-inline-block"><img
          src="{{ 'collaborations_shop-this-collection.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 87vw, 250px"
          alt=""
          class="btn-img">
        <div class="btn-text">SHOP THIS COLLECTION</div>
      </a>
    </div>
  </div>
</div>
<div class="collab-cta-section">
  <div class="collab-flex-row">
    <div class="collab-flex-col"><img
        src="{{ 'group-photo.png' | asset_img_url: '750x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 100vw, 60vw"
        alt=""
        class="collab-img"></div>
    <div class="collab-flex-text-col">
      <h1 class="margin-b-15">want to collaborate?</h1>
      <a href="/pages/contact" class="general-btn skinnier alt center-mob w-inline-block"><img
          src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 90vw, 160px"
          alt=""
          class="btn-img">
        <div class="btn-text">REACH OUT</div>
      </a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Collaboration page",
    "settings": [],
    "presets": [
      {
        "name": "Collaboration page"
      }
    ]
  }
{% endschema %}