<div class="our-story-hero-section"><img
    src="{{ 'kenya-landscape-min_5034edcd-7a98-4c14-9715-0aad4910c8b9.png' | asset_img_url: '1990x' }}"
    loading="lazy"
    sizes="100vw"
    alt=""
    class="our-story-hero-img"></div>
<div class="our-story-section">
  <div class="center-text-wrapper margin-bottom-large">
    <h1>our story</h1>
  </div>
  <div class="story-grid">
    <div id="w-node-_6d96cc03-f3a7-93c3-c2a5-ffd5dba19e04-a4a84311" class="story-flex-row _2011">
      <div class="general-text margin-r-20">Imani Tumaini Upendo founded</div>
      <h1>2011</h1>
    </div>
    <div id="w-node-_538a0200-873a-3134-3158-4c8b0061f8ae-a4a84311" class="story-flex-row right-side _2013">
      <h1>2013</h1>
      <div class="general-text margin-l-20">Sewing program launched with 16 women in Mtepeni Village</div>
    </div>
    <div id="w-node-_62cf0a48-70b9-2fd9-95ea-e9e716311356-a4a84311" class="story-flex-row _2015">
      <div class="general-text margin-r-20">Took product to market</div>
      <h1>2015</h1>
    </div>
    <div id="w-node-_94875187-80c5-ccb8-3544-9315bbce5d0b-a4a84311" class="story-flex-row right-side _2016">
      <h1>2016</h1>
      <div class="general-text margin-l-20">Launched our woven department + 2nd location in Old town, Mombasa</div>
    </div>
    <div id="w-node-e40109b5-aee3-d57c-5f50-17f2f12ee00f-a4a84311" class="story-flex-row _2017">
      <div class="general-text margin-r-20">Rebranded to Imani Collective and grew collective</div>
      <h1>2017</h1>
    </div>
    <div id="w-node-cf069a63-5cf2-50fb-624d-af10dc4f0761-a4a84311" class="story-flex-row right-side _2019">
      <h1>2019</h1>
      <div class="general-text margin-l-20">Expanded our collective from 46 to over 80+ artisans</div>
    </div>
    <div id="w-node-b891d546-fcf4-8742-e415-dec278cfcf2a-a4a84311" class="story-flex-row _2020">
      <div class="general-text margin-r-20">Opened up 3rd location in Turkana</div>
      <h1>2020</h1>
    </div>
    <div id="w-node-_44466dd7-4561-527d-f93b-e2d5fc1ddb6f-a4a84311" class="story-flex-row right-side _2021">
      <h1>2021</h1>
      <div class="general-text margin-l-20">Restructured to a hybrid social enterprise model and continuing our steps to sustainability and continued impact</div>
    </div><img
      src="{{ 'our-story_timeline.png' | asset_img_url: '250x' }}"
      loading="lazy"
      id="w-node-_67f65bd1-ac61-da50-baeb-11ae025dc0fd-a4a84311"
      sizes="(max-width: 479px) 70px, 43vw"
      alt=""
      class="story-timeline-img">
    <div id="w-node-_7f232983-8812-fb73-0d6c-46b88d48cce7-a4a84311" class="image-wrapper-about"><img
        src="{{ 'our-story_world-changer-hang-sign-icon.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 59vw, 160px"
        alt=""
        class="img-about-left"></div>
    <div id="w-node-f0885d06-3f39-7d64-200c-e264f686aff4-a4a84311" class="image-wrapper-about-left"><img
        src="{{ 'our-story_sewing-program.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 767px) 70px, 90px"
        alt=""
        class="img-about-left"></div>
  </div>
</div>
<div class="build-something-section">
  <div class="big-medium-text">&quot;We&#x27;re going to build something beautiful.&quot;<br>And they did.</div>
</div>
<div class="info-section">
  <div class="info-flex-row sm-margin-b-mob">
    <div class="info-text-wrapper">
      <div class="big-medium-text margin-b-15">empower</div>
      <div class="general-text margin-b-40 smaller-margin-mob">Every purchase empowers another human.</div>
      <a href="/collections/all" class="general-btn center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 87vw, 250px"
          alt=""
          class="btn-img">
        <div class="btn-text">SHOP ALL PRODUCTS</div>
      </a>
    </div>
    <div class="info-img-center"><img
        src="{{ 'our-story_sparkle.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 90px, (max-width: 767px) 19vw, (max-width: 991px) 16vw, 13vw"
        alt=""></div>
    <div class="info-img-right margin-right"><img
        src="{{ 'our-story_dreams-come-true-banner.png' | asset_img_url: '350x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 54vw, (max-width: 767px) 19vw, 21vw"
        alt="Drawing of a banner that says dreams really do come true"></div>
  </div>
  <div class="info-flex-row alt">
    <div class="info-img-left furthest-left"><img
        src="{{ 'our-story_plant-1.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 69.828125px, (max-width: 767px) 21vw, (max-width: 991px) 23vw, 20vw"
        alt="Drawing of a plant"
        class="info-img"></div>
    <div class="info-img-left"><img
        src="{{ 'our-story_cactus-plant.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 69.828125px, (max-width: 767px) 21vw, (max-width: 991px) 23vw, 20vw"
        alt="Drawing of a cactus"
        class="info-img"></div>
    <div class="info-text-wrapper right-side">
      <div class="big-medium-text margin-b-15">impact</div>
      <div class="general-text margin-b-40">Dignified employment is a key ingredient for economic development and poverty alleviation in developing countries around the world. Imani collective&#x27;s innovative model for providing women, men and their families with consistent wages, skills training, community and access to education has proven highly successful at improving artisan livelihoods and well being.</div>
      <a href="/pages/our-impact" class="general-btn align-right switch-mobile w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 90vw, 250px"
          alt=""
          class="btn-img">
        <div class="btn-text">LEARN MORE</div>
      </a>
    </div>
  </div>
  <div class="info-flex-row">
    <div class="info-text-wrapper">
      <div class="big-medium-text margin-b-15">impact partners</div>
        <div class="general-text margin-b-40">Here at Imani Collective, we firmly believe that together, we are our best! Our desire is to partner with local and global businesses that have a heart for doing good in the world. We want deep, long-term relationships through which we can both make a big, holistic impact. <br> </br>Through our non-profit wing, Imani Collective’s holistic support programs are 100% funded by donations. When you become an Impact Partner, your donation goes directly to these programs, which include our daily food program, in-house childcare, monthly home visits, and so much more. Find out how you can be an Impact Partner today!</div>
      <a href="https://imanicollective-ourimpact.org/impact-partners" class="general-btn center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 87vw, 250px"
          alt=""
          class="btn-img">
        <div class="btn-text">LEARN MORE</div>
      </a>
    </div>
    <div class="info-img-right squiggle"><img
        src="{{ 'our-story_squiggle.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 45vw, 16vw"
        alt=""></div>
  </div>
  <div class="info-flex-row">
    <div class="info-img-right"><img
        src="{{ 'our-story_girl-with-backpack.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 45vw, 21vw"
        alt=""></div>
    <div class="info-text-wrapper right-side">
      <div class="big-medium-text margin-b-15">give</div>
      <div class="general-text margin-b-40">Walk alongside us as we fight to break the generational cycle of poverty in Kenya through holistic artisan empowerment. Our goal is to raise $100,000 by year-end to cover all expenses for our holistic programs, which are at the heart of our mission. Support our Artisans. Your generosity empowers.</div>
      <a href="https://imanicollective-ourimpact.org/donate" class="general-btn align-right center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 87vw, 250px"
          alt=""
          class="btn-img">
        <div class="btn-text">DONATE</div>
      </a>
    </div>
  </div>
  <div class="info-flex-row">
    <div class="info-text-wrapper">
      <div class="big-medium-text margin-b-15">school of ethical impact</div>
      <div class="general-text margin-b-15">Founded by Imani Collective leadership, The school of Ethical Impact is an institute + community comprised of passionate, aligned changemakers who believe ethical impact should be the social norm.</div>
      <div class="general-text margin-b-40">We create opportunities for motivated entrepreneurs and other leaders to clarify their purpose, reignite their passion and develop practical ethical impact acumen that enables them to use their professional spheres as real vehicles for social change.</div>
      <a href="http://www.schoolofethicalimpact.com/" class="general-btn longer center-mob w-inline-block"><img
          src="{{ 'longer-btn_1.png' | asset_img_url: '350x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 87vw, 310px"
          alt=""
          class="btn-img">
        <div class="btn-text">SCHOOL OF ETHICAL IMPACT</div>
      </a>
    </div>
    <div class="info-img-right"><img
        src="{{ 'our-story_school-of-ethical-impact-logo.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 45vw, 21vw"
        alt=""></div>
  </div>
</div>
<div class="influencer-section">
  <div class="influencer-flex-row">
    <div class="influencer-flex-col-img-wrapper"><img
        src="{{ 'sitting_with_backpacks_pic-min.jpeg' | asset_img_url: '1200x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 100vw, (max-width: 767px) 58vw, 59vw"
        alt=""
        class="influencer-flex-col-img"></div>
    <div class="influencer-flex-col-text">
      <div class="big-medium-text margin-b-15">be an influencer for ethical purchases</div>
      <div class="general-text margin-b-40">Become a brand affiliate</div>
      <a href="https://theimanicollective.grin.live/affiliateapplication" class="general-btn align-right center-mob w-inline-block"><img
          src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 94vw, 250px"
          alt=""
          class="btn-img">
        <div class="btn-text">APPLY NOW</div>
      </a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Our story",
    "settings": [],
    "presets": [
      {
        "name": "Our story"
      }
    ]
  }
{% endschema %}