<div class="imani-model-hero-section">
  <div class="center-text-wrapper smaller-width-alt">
    <h1 class="margin-b-40">the imani model</h1>
    <div class="general-text margin-b-15">At Imani Collective we strive to be transparent in not only our impact, but also of our business and social enterprise model. Our founder, Jenny Nuccio, has over a decade of experience growing Imani Collective and working with social entrepreneurs.</div>
    <div class="general-text margin-b-15">Through education, research, and practical experience living within communities in Kenya, she co-founded the School of Ethical Impact with Hayley Adamski to create opportunities for motivated entrepreneurs to make ethical impact the social norm through redefining how we do business and impact.</div>
    <div class="general-text">Imani Collective is a leading ethical impact brand. We take pride in the model we have created, but also know it is not a one size fits all solution. If you are interested in learning more about how to start, grow, or thrive an ethical impact business, visit the School of Ethical Impact and learn more about their 12-month comprehensive program and consulting services.</div>
  </div>
</div>
<div class="business-model-section">
  <div class="center-text-wrapper">
    <h2>The Imani Collective Business Model</h2>
  </div>
  <div class="center-text-wrapper margin-bottom-large smaller-width"></div>
  <div class="center-text-wrapper"></div>
  <div class="w-layout-grid model-grid">
    <div id="w-node-d7c8042e-aa75-72d3-1fcc-6cbf88575091-a987241c" class="circle-wrapper-model top-left">
      <div class="general-text larger-gen-text medium-text margin-b-15">Kenyan NGO</div>
      <div class="general-text smaller-mob">Artisan training program including holistic support to PLC artisan&#x27;s purchased at cost.</div>
    </div>
    <div id="w-node-_82e54f3d-f936-69b4-09f2-d56f34953edc-a987241c" class="top-arrow-wrapper"><img
        src="{{ 'model_model-arrow1.png' | asset_img_url: '250x' }}"
        loading="lazy"
        alt="Arrow pointing from right to left"
        class="arrow-img"></div>
    <div id="w-node-_7a487bbb-ad3d-d87f-05eb-3639866ece10-a987241c" class="circle-wrapper-model">
      <div class="general-text larger-gen-text medium-text margin-b-15">Kenyan PLC</div>
      <div class="general-text smaller-mob">PLC to purchase goods + contract with NGO for training + donate monthly</div>
    </div>
    <div id="w-node-_43bbde11-9813-31e8-4f0f-73971cd55f71-a987241c" class="left-arrow-wrapper"><img
        src="{{ 'model_model-arrow2.png' | asset_img_url: '250x' }}"
        loading="lazy"
        alt="Arrow pointing upwards"
        class="arrow-img"></div>
    <div id="w-node-ab5b35fa-e23a-e454-5487-47b9c55dba95-a987241c" class="blank-div-block"></div>
    <div id="w-node-_93ac2fda-5e36-2315-4de2-0be2200b40c1-a987241c" class="right-arrow-wrapper"><img
        src="{{ 'model_model-arrow3.png' | asset_img_url: '250x' }}"
        loading="lazy"
        alt="Arrow pointing up and down"
        class="arrow-img"></div>
    <div id="w-node-_1bdb61e1-799f-1678-e742-cb88b2348d27-a987241c" class="circle-wrapper-model bottom-left">
      <div class="general-text larger-gen-text medium-text margin-b-15">U.S.A Nonprofit</div>
      <div class="general-text smaller-mob">Fiscal sponsor and additional fundraising arm for the NGO</div>
    </div>
    <div id="w-node-_343d7b88-427e-e3f8-bc41-48f09fc20257-a987241c" class="top-arrow-wrapper"><img
        src="{{ 'model_model-arrow4.png' | asset_img_url: '250x' }}"
        loading="lazy"
        alt="Arrow pointing leftwards"
        class="arrow-img"></div>
    <div id="w-node-_0ccece5e-695d-f195-1676-e539c77f91d1-a987241c" class="circle-wrapper-model bottom-right">
      <div class="general-text larger-gen-text medium-text margin-b-15">U.S.A LLC</div>
      <div class="general-text smaller-mob">Purchased goods from the PLC at COGs (material + direct labor x 2.2)</div>
    </div>
  </div>
  <div class="purchase-goods-btn-wrapper">
    <a href="/collections/all" class="general-btn center-align w-inline-block"><img
        src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 100vw, 250px"
        alt=""
        class="btn-img">
      <div class="btn-text">PURCHASE GOODS</div>
    </a>
  </div>
</div>
<div class="sustainability-section">
  <div class="sustainability-grid-wrapper">
    <div id="w-node-cfa0c756-6d6b-8c35-625e-3dfaad9328ee-a987241c" class="sustainability-inner">
      <div class="center-text-wrapper">
        <h1 class="margin-b-40 smaller-tab-down">Our Method of Sustainability</h1>
      </div>
      <div class="general-text margin-b-15 center-mob">We follow the 5 P&#x27;s of Sustainability Framework created by the School of Ethical Impact.</div>
      <div class="general-text center-mob">We know that in order to create an Ethical Impact™ through business that we needed to rethink the triple bottom line. This framework allows us to take a holistic approach to empowerment and has created sustainable solutions throughout all aspects of Imani Collective.</div>
      <div class="sustain-flex-row">
        <div class="sustainability-flex-col">
          <div class="sustainability-icon-wrapper"><img
              src="{{ 'model_hand-and-heart-icon.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 991px) 110px, 140px"
              alt="Hand cupped upward with a heart floating above it"
              class="sus-icon-img"></div>
          <div class="sustainability-flex-text">
            <h2 class="margin-b-15 smaller-tab-down">purpose</h2>
            <div class="general-text">The thing you&#x27;re fighting for that lights you up.</div>
          </div>
        </div>
        <div class="sustainability-flex-col">
          <div class="sustainability-icon-wrapper"><img
              src="{{ 'model_planet.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 991px) 110px, 140px"
              alt="Drawing of the earth in light pink and brown"
              class="sus-icon-img"></div>
          <div class="sustainability-flex-text">
            <h2 class="margin-b-15 smaller-tab-down">planet</h2>
            <div class="general-text">The thing that houses your mission and is affected by your people, profit, and purpose.</div>
          </div>
        </div>
        <div class="sustainability-flex-col">
          <div class="sustainability-icon-wrapper"><img
              src="{{ 'model_people.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 991px) 110px, 140px"
              alt="Drawing of three people, one is standing and two are sitting"
              class="sus-icon-img"></div>
          <div class="sustainability-flex-text">
            <h2 class="margin-b-15 smaller-tab-down">people</h2>
            <div class="general-text">Those who are interwoven with your business: you, your employees, partners, beneficiaries, and communities.</div>
          </div>
        </div>
        <div class="sustainability-flex-col">
          <div class="sustainability-icon-wrapper"><img
              src="{{ 'wholesale_profit.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 991px) 110px, 140px"
              alt=""
              class="sus-icon-img"></div>
          <div class="sustainability-flex-text">
            <h2 class="margin-b-15 smaller-tab-down">profit</h2>
            <div class="general-text">A powerful vehicle for sustaining people and impact.</div>
          </div>
        </div>
        <div class="sustainability-flex-col">
          <div class="sustainability-icon-wrapper"><img
              src="{{ 'model_weaving-hands-icon.png' | asset_img_url: '250x' }}"
              loading="lazy"
              sizes="(max-width: 991px) 110px, 140px"
              alt="Drawing of two hands holding a rope"
              class="sus-icon-img"></div>
          <div class="sustainability-flex-text">
            <h2 class="margin-b-15 smaller-tab-down">partnerships</h2>
            <div class="general-text">Embracing proactive and strategic collectiveness for mutual and global gain.</div>
          </div>
        </div>
      </div>
      <div class="learn-more-sus-wrapper">
        <a href="http://www.schoolofethicalimpact.com/" class="general-btn center-align w-inline-block"><img
            src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
            loading="lazy"
            sizes="(max-width: 479px) 90vw, 250px"
            alt=""
            class="btn-img">
          <div class="btn-text">LEARN MORE</div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="meet-section">
  <div class="meet-flex-row">
    <div class="meet-flex-col">
      <div class="meet-name">
        <h2>meet mwanaisha</h2>
      </div>
      <div class="meet-img-wrapper"><img
          src="{{ 'model_mwanaisha.png' | asset_img_url: '450x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 300px, (max-width: 991px) 42vw, 430px"
          alt=""></div>
    </div>
    <div class="meet-flex-text">
      <div class="collective-header-wrapper">
        <div class="big-medium-text smaller bold">
          <span class="the-span-text">the</span>
          collective</div>
      </div>
      <div class="general-text margin-b-30">Imani Collective now employs over 180 artisans in Mtepeni Village and Mombassa, along with half a dozen women state-side. Together, we unleash a woman&#x27;s greatness through empowerment + opportunity + community.</div>
      <a href="https://imanicollective.com/pages/artisans" class="general-btn center-land-down w-inline-block"><img
          src="{{ 'pink-btn.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="250px"
          alt=""
          class="btn-img">
        <div class="btn-text">MEET THE COLLECTIVE</div>
      </a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "The imani model",
    "settings": [],
    "presets": [
      {
        "name": "The imani model"
      }
    ]
  }
{% endschema %}