<div class="sustainability-hero-section">
  <div class="center-text-wrapper smaller-width-alt margin-b-40">
    <h1 class="margin-b-40">sustainability</h1>
    <div class="general-text margin-b-40">At Imani Collective, we strive to be transparent in our impact and social enterprise model. Every year we make it a top priority to care for the well-being of our artisans and the communities &quot;without compromising the ability of future generations to meet their own needs.&quot;</div>
    <div id="top" class="general-text">We support the United Nations 2030 Agenda for Sustainable Development, which has set forth 17 SDGs that serve as a &quot;call to action to end poverty, protect the planet, and ensure all people enjoy peace and prosperity by 2030. Our primary SDGs of focus are:</div>
    <div class="sustainability-flex-row">
      <div class="sustainability-flex-col-2"><img
          src="{{ 'sustainability_1---no-poverty.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 20vw, (max-width: 991px) 19vw, 154px"
          alt=""
          class="sus-img">
        <div class="general-text">1 - No Poverty</div>
      </div>
      <div class="sustainability-flex-col-2"><img
          src="{{ 'model_weaving-hands-icon.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 20vw, (max-width: 991px) 19vw, 154px"
          alt="Drawing of two hands holding a rope"
          class="sus-img">
        <div id="mobile_top" class="general-text">8 - Decent work and economic growth</div>
      </div>
      <div class="sustainability-flex-col-2"><img
          src="{{ 'donor-landing-page_1.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 23vw, (max-width: 991px) 19vw, 154px"
          alt=""
          class="sus-img">
        <div class="general-text">12 - Responsible consumption and production</div>
      </div>
    </div>
  </div>
  <div class="center-text-wrapper">
    <h1 class="margin-b-40">responsibility</h1>
  </div>
</div>
<div class="sustainability-tab-section">
  <div
    data-current="Tab 1"
    data-easing="ease"
    data-duration-in="300"
    data-duration-out="100"
    class="w-tabs">
    <div class="sustainability-tabs-menu w-tab-menu">
      <a data-w-tab="Tab 1" class="tab-link-sustainability w-inline-block w-tab-link w--current">
        <div class="btn-text">TO OUR PLANET</div>
      </a>
      <a data-w-tab="Tab 2" class="tab-link-sustainability w-inline-block w-tab-link">
        <div class="btn-text">TO OUR ECONOMY</div>
      </a>
      <a data-w-tab="Tab 3" class="tab-link-sustainability w-inline-block w-tab-link">
        <div>TO OUR SOCIAL IMPACT</div>
      </a>
    </div>
    <div class="w-tab-content">
      <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
        <div class="center-text-wrapper">
          <div class="product-creation-wrapper">
            <h2 class="margin-b-30">From the start to the end of product creation, we ensure eco-friendly methods are used.</h2>
          </div>
          <div class="_1percent-flex-row">
            <div class="general-text _1per">Imani Collective is proud to be a part of the 1% for the Planet community. 1% for the Planet-approved Environmental Partners are carefully vetted environmental organizations eligible to receive certifiable funding from their members. This partnership is intended to advance our impact and involve more businesses and individuals in the environmental movement.</div>
            <div class="_1p-img-col"><img
                sizes="(max-width: 479px) 100vw, (max-width: 991px) 26vw, 23vw"
                src="{{ 'sustainability_1-for-the-planet.png' | asset_img_url: '280x' }}"
                loading="lazy"
                alt=""></div>
          </div>
          <div class="local-sourcing-flex-row">
            <div class="local-sourcing-img-col"><img
                sizes="(max-width: 767px) 190px, (max-width: 991px) 240px, 280px"
                src="{{ 'sustainability_local-sourcing.png' | asset_img_url: '280x' }}"
                loading="lazy"
                alt=""></div>
            <div class="local-sourcing-text-wrapper local-sourcing">
              <h1 class="margin-b-40 smaller-margin-mob bold-text">Local Sourcing</h1>
              <div class="general-text">We are committed to only using locally sourced organic products to ensure we do our part to care for our environment and the people in it. By sourcing from local markets + vendors we are investing in the local economy, which is essential to the economic development in the area.</div>
            </div>
          </div>
        </div>
        <div class="design-phil-section">
          <div class="center-text-wrapper design-phil">
            <h1 class="margin-b-30 bold-text">design philosophy</h1>
            <div class="general-text margin-b-20">We create products that support our artisan&#x27;s talents, inspired by the beauty of traditional African craftsmanship. We are committed to designing products safe for our environment and the entire family. We ensure eco-friendly methods are used from the start to the end of product creation. Our products are representations of empowerment, sustainable income, and artisanship.</div>
          </div>
          <div class="design-phil-content-wrapper">
            <div class="design-philosophy-flex-row more-padding-b">
              <div class="local-sourcing-img-col"><img
                  sizes="(max-width: 767px) 190px, (max-width: 991px) 240px, 280px"
                  src="{{ 'sustainability_canvas.png' | asset_img_url: '280x' }}"
                  loading="lazy"
                  alt=""></div>
              <div class="local-sourcing-text-wrapper canvas">
                <h1 class="margin-b-15 bold-text">canvas</h1>
                <div class="general-text">our canvas products are
                  <span class="screen-text-span">screen printed in-house using</span>
                  natural dyes. After air drying, they are individual stuffed and
                  <span class="hand-stitched-text-span">hand-stitched.</span>
                </div>
              </div>
            </div>
            <div class="design-philosophy-flex-row wider wide">
              <div class="local-sourcing-text-wrapper left wool">
                <h1 class="margin-b-15 bold-text">wool</h1>
                <div class="general-text margin-b-15">We take the time to prewash all materials by hand and allow them to air dry.</div>
                <div class="general-text margin-b-15">We use Mitin FF (a mothproofing agent harmless to humans) that removes the natural oils of the wool in order to keep the yarn from bonding.</div>
                <div class="general-text">The left over yarn is used by our weavers to create their own custom rug and wall hanging designs sold at our
                  <a href="#" class="pink-to-black-link">soko shop</a>.</div>
              </div>
              <div class="local-sourcing-img-col"><img
                  sizes="(max-width: 767px) 190px, (max-width: 991px) 240px, 280px"
                  src="{{ 'sustainability_wool.png' | asset_img_url: '280x' }}"
                  loading="lazy"
                  alt=""></div>
            </div>
            <div class="design-philosophy-flex-row natural-dyes">
              <div class="local-sourcing-img-col"><img
                  sizes="(max-width: 767px) 190px, (max-width: 991px) 240px, 280px"
                  src="{{ 'sustainability_natural-dyes.png' | asset_img_url: '280x' }}"
                  loading="lazy"
                  alt=""></div>
              <div class="local-sourcing-text-wrapper dyes">
                <h1 class="margin-b-15 bold-text">natural dyes</h1>
                <div class="general-text">All the dyes we use for our screen printing processes are plant-based and have no chemical toxins.</div>
              </div>
            </div>
            <div class="design-philosophy-flex-row">
              <div class="local-sourcing-text-wrapper left fibers">
                <h1 class="margin-b-15 bold-text">natural fibers</h1>
                <div class="general-text fiber">our woven baskets are made from a natural reed found locally in Turkana, Kenya.</div>
              </div>
              <div class="local-sourcing-img-col"><img
                  sizes="(max-width: 767px) 190px, (max-width: 991px) 240px, 280px"
                  src="{{ 'sustainability_natural-fibers.png' | asset_img_url: '280x' }}"
                  loading="lazy"
                  alt=""></div>
            </div>
            <div class="design-philosophy-flex-row">
              <div class="local-sourcing-img-col"><img
                  sizes="(max-width: 767px) 190px, (max-width: 991px) 240px, 280px"
                  src="{{ 'sustainability_leather.png' | asset_img_url: '280x' }}"
                  loading="lazy"
                  alt=""></div>
              <div class="local-sourcing-text-wrapper leather">
                <h1 class="margin-b-15 bold-text">leather</h1>
                <div class="general-text">our leather ornaments are made from repurposed leather scraps.</div>
              </div>
            </div>
            <div class="design-philosophy-flex-row wider wide alt">
              <div class="local-sourcing-text-wrapper left waste">
                <h1 class="margin-b-15 bold-text">waste</h1>
                <div class="general-text">We&#x27;ve seen a 35% decrease in fabric waste in 2022. We&#x27;ve accomplished this by reducing our initial cutpiece dimensions, streamlining our production process to reduce defective pieces, and upcycling scraps to create new pieces.</div>
              </div>
              <div class="local-sourcing-img-col"><img
                  sizes="(max-width: 767px) 190px, (max-width: 991px) 240px, 280px"
                  src="{{ 'sustainability_waste.png' | asset_img_url: '280x' }}"
                  loading="lazy"
                  alt=""></div>
            </div>
          </div>
        </div>
        <div class="packaging-section">
          <div class="center-text-wrapper smaller-width-alt larger-tab-down">
            <h1 class="margin-b-40">Packaging</h1>
            <div class="general-text margin-b-15">In addition we are taking into account all departments within our company to ensure we are taking steps to drive true systems of change. Since 2022, we are 100% plastic free.</div>
          </div>
          <div class="packaging-img-wrapper"><img
              sizes="(max-width: 479px) 100vw, 60vw"
              src="{{ 'sustainability_packaging.png' | asset_img_url: '800x' }}"
              loading="lazy"
              alt=""
              class="packaging-img"></div>
          <div class="center-text-wrapper smaller-width-alt larger-tab-down">
            <div class="packaging-flex-row">
              <div class="packing-flex-col">
                <div class="general-text">We use a vibrant, water proof, and reusable cotton based wax fabric known locally as Kanga in place of plastic packaging.</div>
              </div>
              <div class="packing-flex-col">
                <div class="general-text">Once shipments arrive safely at our Dallas warehouse, products are then packaged in recycled polymailers or in a boxes sealed with kraft tape, making it easy to recycle for our customers.</div>
              </div>
            </div>
          </div>
          <div class="benefit-flex-row">
            <a href="#" class="general-btn benefits w-inline-block"><img
                sizes="(max-width: 479px) 95vw, (max-width: 767px) 80vw, 45vw"
                src="{{ 'sustainability-btn.png' | asset_img_url: '500x' }}"
                loading="lazy"
                alt=""
                class="btn-img">
              <div class="btn-text">SEE OUR ENVIRONMENTAL SUSTAINABILITY REPORT</div>
            </a>
            <a href="#" class="general-btn benefits w-inline-block"><img
                sizes="(max-width: 479px) 95vw, (max-width: 767px) 80vw, 45vw"
                src="{{ 'sustainability-btn.png' | asset_img_url: '500x' }}"
                loading="lazy"
                alt=""
                class="btn-img">
              <div class="btn-text">DOWNLOAD OUR 2022 <br>IMPACT REPORT</div>
            </a>
          </div>
        </div>
      </div>
      <div data-w-tab="Tab 2" class="w-tab-pane">
        <div class="center-text-wrapper">
          <h2 class="margin-b-30">We support the integrity of ethically sourced, artisan made goods, and create opportunities for men and women to make them.</h2>
          <div class="general-text">Financial inclusion and economic opportunity are key ingredients to rising above poverty. Imani Collective provides training and creates jobs with dignity to meet the need for employment in the communities where we are located. Our artisans work in a clean, well-lit, fun, and nurturing work environment.</div>
        </div>
        <div class="living-wage-section">
          <div class="center-text-wrapper smaller-width-alt">
            <h1 class="margin-b-30">Living Wage</h1>
            <div class="general-text margin-b-20">The Living Wage is an approximate income needed to meet a family&#x27;s basic needs, including food, housing, transport, health, education, tax deductions, and other necessities. We provide our employees with fair, steady wages that honor the time and skill that go into making each product by hand, with heart. The compensation (wages and benefits) exceeds government minimums improving their standard of living and cultivating a brighter future for their families.</div>
            <div class="general-text margin-b-20">Dignified employment is a key ingredient for economic development and poverty alleviation in developing countries worldwide.</div>
            <div class="general-text margin-b-15">Approximately 46% of Kenyans live below the international poverty line of $1.90 per day. Imani Collective pays more than 2.6 times more than minimum wage, along with unmatched benefits.</div>
            <div class="living-wage-img-wrapper"><img
                sizes="110px"
                src="{{ 'sustainability_living-wage.png' | asset_img_url: '110x' }}"
                loading="lazy"
                alt=""></div>
          </div>
          <div class="living-wage-text-wrapper">
            <h2 class="margin-b-30 smaller-margin-mob">kenya</h2>
            <div class="w-layout-grid wage-grid">
              <div id="w-node-_2d24b896-cb73-326f-1592-03a76e620868-0d1b3d65"></div>
              <div id="w-node-_4bb7932a-c8fd-02a3-24cb-e7b21fbe3ae6-0d1b3d65" class="general-text bold-text">MINIMUM WAGE*</div>
              <div id="w-node-d15ff9d1-138b-dfe8-98e4-144d911173c8-0d1b3d65" class="general-text bold-text">IMANI&#x27;S LOWEST WAGE</div>
              <div id="w-node-_0e463f80-b696-2f66-bb86-314c8a4036b9-0d1b3d65" class="general-text bold-text">LIVING WAGE**</div>
              <div id="w-node-_90e4c26d-5fda-82d5-9665-e3a6c6132482-0d1b3d65" class="general-text">Kenya</div>
              <div id="w-node-_0ec8340a-084c-2a02-e757-72b9cb0441ba-0d1b3d65" class="general-text">15,120 KSH</div>
              <div id="w-node-e667ee3c-5a1f-c6af-2d9c-de96d883a1ef-0d1b3d65" class="general-text">x KSH</div>
              <div id="w-node-_34e113cb-8c6b-11fa-3aac-0fddfca1634e-0d1b3d65" class="general-text">x KSH</div>
              <div id="w-node-_90cf507e-aeae-0374-fc23-f5a0f0418f39-0d1b3d65" class="general-text">Turkana</div>
              <div id="w-node-_5956e435-e864-ca82-ded5-db5a0647aba5-0d1b3d65" class="general-text">16,076 KSH</div>
              <div id="w-node-_63243362-6b9b-85e7-d265-12d35c4d4b1b-0d1b3d65" class="general-text">19,696 KSH</div>
              <div id="w-node-_83a4a3a5-0211-dd84-1bdb-6affd7ebe67e-0d1b3d65" class="general-text">x KSH</div>
              <div id="w-node-e766346b-900a-2544-b4ce-364e429e79ea-0d1b3d65" class="general-text">Mtepeni</div>
              <div id="w-node-_3920941d-3145-ceb9-704b-e106d87964f2-0d1b3d65" class="general-text">16,076 KSH</div>
              <div id="w-node-a68bf1ad-c06c-76ff-0649-6ef99c027729-0d1b3d65" class="general-text">19,969 KSH</div>
              <div id="w-node-d9f9f941-6561-d4d1-f8a5-4e6935a967f4-0d1b3d65" class="general-text">x KSH</div>
              <div id="w-node-f143e953-66de-d0da-51d9-f504a1776661-0d1b3d65" class="general-text">Mombasa</div>
              <div id="w-node-_905f27f8-1828-bf7b-808d-a9c0b4375932-0d1b3d65" class="general-text">21,000 KSH</div>
              <div id="w-node-_3f96de42-095d-c064-2fff-c10aeb69762a-0d1b3d65" class="general-text">22,158 KSH</div>
              <div id="w-node-_40f8fb4f-d9c3-a268-3b7f-4d157bf650e0-0d1b3d65" class="general-text">20,100 - 29,702 KSH</div>
            </div>
            <div class="general-text">*wage per month</div>
            <div class="general-text">** for a single adult</div>
          </div>
          <div class="living-wage-text-wrapper">
            <h2 class="margin-b-30 smaller-margin-mob">stateside</h2>
            <div class="w-layout-grid wage-grid alt">
              <div id="w-node-_289e6d41-fe20-c1d0-d56b-ab9689dc0cd7-0d1b3d65"></div>
              <div id="w-node-_289e6d41-fe20-c1d0-d56b-ab9689dc0cd8-0d1b3d65" class="general-text bold-text">MINIMUM WAGE*</div>
              <div id="w-node-_289e6d41-fe20-c1d0-d56b-ab9689dc0cda-0d1b3d65" class="general-text bold-text">IMANI&#x27;S LOWEST WAGE</div>
              <div id="w-node-_289e6d41-fe20-c1d0-d56b-ab9689dc0cdc-0d1b3d65" class="general-text bold-text">LIVING WAGE**</div>
              <div id="w-node-_289e6d41-fe20-c1d0-d56b-ab9689dc0cde-0d1b3d65" class="general-text">Dallas</div>
              <div id="w-node-_289e6d41-fe20-c1d0-d56b-ab9689dc0ce0-0d1b3d65" class="general-text">$7.25</div>
              <div id="w-node-_289e6d41-fe20-c1d0-d56b-ab9689dc0ce2-0d1b3d65" class="general-text">$18.00</div>
              <div id="w-node-_289e6d41-fe20-c1d0-d56b-ab9689dc0ce4-0d1b3d65" class="general-text">$17.82</div>
            </div>
            <div class="general-text">*wage per month</div>
            <div class="general-text">** for a single adult</div>
          </div>
        </div>
        <div class="employee-benefits-section">
          <div class="center-text-wrapper">
            <h1 class="margin-b-40">Employee Benefits</h1>
            <div class="general-text margin-b-15">We know that rising above poverty takes more than a job, it takes dignified employment, personal growth, and a community of support. Our holistic support programs focus on the empowerment of a whole person and ultimately benefits the spouses, children, and community of our artisans + staff.</div>
            <div class="general-text">Empowering the whole person allows for our artisans to not merely survive, but thrive in the life they live.</div>
            <div class="benefits-flex-row">
              <div class="benefits-flex-col"><img
                  sizes="(max-width: 479px) 160px, (max-width: 767px) 24vw, (max-width: 991px) 13vw, 14vw"
                  src="{{ 'impact-partners_childcare.png' | asset_img_url: '450x' }}"
                  loading="lazy"
                  alt="Two socks drawn"
                  class="benefits-img">
                <div class="general-text">Childcare provided for both our stateside team and Kenya team</div>
              </div>
              <div class="benefits-flex-col"><img
                  sizes="(max-width: 479px) 160px, (max-width: 767px) 24vw, (max-width: 991px) 13vw, 14vw"
                  src="{{ 'sustainability_daily-food-program.png' | asset_img_url: '450x' }}"
                  loading="lazy"
                  alt=""
                  class="benefits-img">
                <div class="general-text">Daily Food Program</div>
              </div>
              <div class="benefits-flex-col"><img
                  sizes="(max-width: 479px) 160px, (max-width: 767px) 24vw, (max-width: 991px) 13vw, 14vw"
                  src="{{ 'impact-partners_home-visits.png' | asset_img_url: '450x' }}"
                  loading="lazy"
                  alt="Drawing of a building with a door, two stories, and a roof. The building is light pink and the roof is light brown"
                  class="benefits-img">
                <div class="general-text">Monthly home visits</div>
              </div>
              <div class="benefits-flex-col"><img
                  sizes="(max-width: 479px) 160px, (max-width: 767px) 24vw, 14vw"
                  src="{{ 'impact-partners_dream-managment.png' | asset_img_url: '450x' }}"
                  loading="lazy"
                  alt="Light purple cloud"
                  class="benefits-img">
                <div class="general-text">Training to take steps toward dream development</div>
              </div>
              <div class="benefits-flex-col"><img
                  sizes="(max-width: 479px) 160px, (max-width: 767px) 26vw, (max-width: 991px) 16vw, 14vw"
                  src="{{ 'impact-partners_rise-program.png' | asset_img_url: '450x' }}"
                  loading="lazy"
                  alt="Slide icon"
                  class="benefits-img">
                <div class="general-text">RISE personal development workshops</div>
              </div>
              <div class="benefits-flex-col"><img
                  sizes="(max-width: 479px) 160px, (max-width: 767px) 24vw, 14vw"
                  src="{{ 'impact-partners_special-events.png' | asset_img_url: '450x' }}"
                  loading="lazy"
                  alt="Drawing of a cake with a candle in the center"
                  class="benefits-img">
                <div class="general-text">Special event celebrations</div>
              </div>
            </div>
            <div class="benefit-flex-row">
              <a href="#" class="general-btn benefits w-inline-block"><img
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 72vw, (max-width: 991px) 40vw, 45vw"
                  src="{{ 'sustainability_learn-more-about-our-holistic-programs.png' | asset_img_url: '500x' }}"
                  loading="lazy"
                  alt=""
                  class="btn-img"></a>
            </div>
            <div class="benefit-flex-row">
              <a href="#" class="general-btn benefits w-inline-block"><img
                  sizes="(max-width: 479px) 95vw, (max-width: 767px) 80vw, 45vw"
                  src="{{ 'sustainability-btn.png' | asset_img_url: '450x' }}"
                  loading="lazy"
                  alt=""
                  class="btn-img">
                <div class="btn-text">SEE OUR ENVIRONMENTAL SUSTAINABILITY REPORT</div>
              </a>
              <a href="#" class="general-btn benefits w-inline-block"><img
                  sizes="(max-width: 479px) 95vw, (max-width: 767px) 80vw, 45vw"
                  src="{{ 'sustainability-btn.png' | asset_img_url: '450x' }}"
                  loading="lazy"
                  alt=""
                  class="btn-img">
                <div class="btn-text">DOWNLOAD OUR 2022 <br>IMPACT REPORT</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div data-w-tab="Tab 3" class="w-tab-pane w--tab-active">
        <div class="center-text-wrapper">
          <h2 class="margin-b-30">We are a women-owned socio-economic empowerment program expanding across the globe. We strive to create a space that puts people before products.</h2>
          <div class="culture-flex-row">
            <div class="culture-img-col"><img
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 54vw, (max-width: 991px) 40vw, 41vw"
                src="{{ 'sustainability_culture.png' | asset_img_url: '450x' }}"
                loading="lazy"
                alt=""></div>
            <div class="culture-text-flex">
              <h1 class="margin-b-30 center-mob">Culture</h1>
              <div class="general-text margin-b-15">We believe in unleashing the greatness of women by encouraging big dreams + equipping them to achieve them! Once we realize what we&#x27;re made of, we can own what we&#x27;re made for. Our community strives to bring people together, raise awareness, spread joy, and ultimately do good for our community in Kenya and communities around the globe.</div>
              <div class="general-text">It starts with our holistic programs where we come alongside our artisans and care for them in a wrap-around approach, which creates this unique work culture. Over the years, this has developed our women&#x27;s self-efficacy and self worth. It has given them confidence to lead their families, provide for their children, and plan for the future. This has completely transformed communities. Our women walk outside of our workshop every day and take this beautiful culture we have created of love, dignity, inclusivity, and peace.</div>
            </div>
          </div>
          <h1 class="margin-b-30">Gender Empowerment</h1>
          <div class="gen-emp-flex-row">
            <div class="gen-emp-flex-col">
              <div class="general-text">We believe women hold the key to long-term social change. That&#x27;s why we provide the educational resources and opportunities they need to create sustainable livelihoods for themselves and for future generations. We believe education bridges skill and knowledge, while equipping a woman to tap into her highest capacity. Education at Imani Collective is not limited to technical skills.</div>
            </div>
            <div class="gen-emp-flex-col-right">
              <div class="percentage-row">
                <div class="big-medium-text">15%</div>
                <div class="general-text">Men</div>
              </div>
              <div class="percentage-row">
                <div class="big-medium-text">75%</div>
                <div class="general-text">Women</div>
              </div><img
                sizes="180px"
                src="{{ 'model_people.png' | asset_img_url: '250x' }}"
                loading="lazy"
                alt="Drawing of three people, one is standing and two are sitting"
                class="img-emp">
            </div>
          </div>
        </div>
        <div class="hol-section">
          <div class="center-text-wrapper">
            <h1 class="margin-b-30">holistic programs</h1>
            <div class="general-text margin-b-20">We know that rising above poverty takes more than a job, it takes dignified employment, personal growth, and a community of support. Our holistic support programs focus on the empowerment of a whole person and ultimately benefits the spouses, children, and community of our artisans + staff.</div>
            <div class="general-text margin-b-15">Empowering the whole person allows for our artisans to not merely survive, but thrive in the life they live.</div>
          </div>
          <div
            data-delay="4000"
            data-animation="slide"
            class="sustainability-slider w-slider"
            data-autoplay="true"
            data-easing="ease"
            data-hide-arrows="false"
            data-disable-swipe="false"
            data-autoplay-limit="0"
            data-nav-spacing="3"
            data-duration="500"
            data-infinite="true">
            <div class="w-slider-mask">
              <div class="w-slide">
                <div class="hol-flex-row">
                  <div class="hol-flex-col"><img
                      src="{{ 'impact-partners_dream-managment.png' | asset_img_url: '450x' }}"
                      loading="lazy"
                      sizes="(max-width: 479px) 110px, 130px"
                      alt="Light purple cloud"
                      class="hol-img team-building">
                    <h2 class="smaller-h2 sus-slider">Dream management</h2>
                    <div class="general-text">personalized discussions + training in financial budgeting, time management, etc. to help our artisans take steps towards realizing individual goals.</div>
                  </div>
                  <div class="hol-flex-col"><img
                      src="{{ 'impact-partners_childcare.png' | asset_img_url: '450x' }}"
                      loading="lazy"
                      sizes="(max-width: 479px) 110px, 130px"
                      alt="Two socks drawn"
                      class="hol-img">
                    <h2 class="smaller-h2 sus-slider">In-house childcare</h2>
                    <div class="general-text">structured program for artisans&#x27; children to attend during the day while parents work, which includes themed curriculum, field trips, English courses, primary school entrance test preparation, creative crafts and more.</div>
                  </div>
                  <div class="hol-flex-col"><img
                      src="{{ 'impact-partners_food-program.png' | asset_img_url: '450x' }}"
                      loading="lazy"
                      sizes="(max-width: 479px) 110px, 130px"
                      alt="A drawing of a banana and a radish"
                      class="hol-img">
                    <h2 class="smaller-h2 sus-slider">Food program</h2>
                    <div class="general-text">daily well-balanced meals</div>
                  </div>
                  <div class="hol-flex-col"><img
                      src="{{ 'blog_the-collective_1.png' | asset_img_url: '450x' }}"
                      loading="lazy"
                      sizes="(max-width: 479px) 110px, 130px"
                      alt=""
                      class="hol-img team-building">
                    <h2 class="smaller-h2 sus-slider">Team Building</h2>
                    <div class="general-text">once per quarter we hold team building outings</div>
                  </div>
                </div>
              </div>
              <div class="w-slide">
                <div class="hol-flex-row">
                  <div class="hol-flex-col"><img
                      src="{{ 'impact-partners_home-visits.png' | asset_img_url: '450x' }}"
                      loading="lazy"
                      sizes="(max-width: 479px) 110px, 130px"
                      alt="Drawing of a building with a door, two stories, and a roof. The building is light pink and the roof is light brown"
                      class="hol-img team-building">
                    <h2 class="smaller-h2 sus-slider">Home visits</h2>
                    <div class="general-text">twice-per-month trips to visit artisans and their families, where we check in and present a love offering gift bag</div>
                  </div>
                  <div class="hol-flex-col"><img
                      src="{{ 'impact-partners_rise-program.png' | asset_img_url: '450x' }}"
                      loading="lazy"
                      sizes="(max-width: 479px) 110px, 130px"
                      alt="Slide icon"
                      class="hol-img team-building">
                    <h2 class="smaller-h2 sus-slider">RISE personal development (Realize Internal Self Excellence)</h2>
                    <div class="general-text">character-building program hosted once per week at each location</div>
                  </div>
                  <div class="hol-flex-col"><img
                      src="{{ 'impact-partners_special-events.png' | asset_img_url: '450x' }}"
                      loading="lazy"
                      sizes="(max-width: 479px) 110px, 130px"
                      alt="Drawing of a cake with a candle in the center"
                      class="hol-img team-building">
                    <h2 class="smaller-h2 sus-slider">Special events</h2>
                    <div class="general-text">monthly artisan, employee and children&#x27;s birthday celebrations, in addition to holiday parties, cultural field trips and an end-of-year celebration.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="arrow-sustainability w-slider-arrow-left">
              <div class="arrow-icon left-side w-icon-slider-left"></div>
            </div>
            <div class="arrow-sustainability w-slider-arrow-right">
              <div class="arrow-icon w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-sustainability w-slider-nav w-slider-nav-invert w-round"></div>
          </div>
        </div>
        <div class="partnerships-section">
          <div class="partnerships-text-wrapper">
            <h1 class="margin-b-40 smaller-margin-mob">Partnerships</h1>
            <div class="general-text margin-b-15">Our
              <a href="collaborations.html" class="pink-to-black-link">collaborations</a>
              are a key component of Imani Collective&#x27;s success. By partnering with like-minded brands, we provide market opportunities to help each other build and strengthen our community. Our partners join us in pursuing our vision to see individuals and families rise above economic and spiritual poverty to become empowered change agents in their communities and workplaces. We partner with organizations who are equally committed to living and loving BOLDLY with us.</div>
            <a href="#" class="general-btn center-mob w-inline-block"><img
                sizes="(max-width: 479px) 100vw, 250px"
                src="{{ 'blog_load-more.png' | asset_img_url: '250x' }}"
                loading="lazy"
                alt="Learn more"
                class="btn-img"><div class="btn-text">Learn more</div>
            </a>
          </div>
          <div class="benefit-flex-row">
            <a href="#" class="general-btn benefits w-inline-block"><img
                sizes="(max-width: 479px) 95vw, (max-width: 767px) 80vw, 45vw"
                src="{{ 'sustainability-btn.png' | asset_img_url: '450x' }}"
                loading="lazy"
                alt=""
                class="btn-img">
              <div class="btn-text">SEE OUR ENVIRONMENTAL SUSTAINABILITY REPORT</div>
            </a>
            <a href="#" class="general-btn benefits w-inline-block"><img
                sizes="(max-width: 479px) 95vw, (max-width: 767px) 80vw, 45vw"
                src="{{ 'sustainability-btn.png' | asset_img_url: '450x' }}"
                loading="lazy"
                alt=""
                class="btn-img">
              <div class="btn-text">DOWNLOAD OUR 2022 <br>IMPACT REPORT</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center-text-wrapper">
    <a href="#top" class="general-btn skinnier center-align w-inline-block mobile-hide"><img
        src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="133px"
        alt=""
        class="btn-img">
      <div class="btn-text">BACK TO TOP</div>
    </a>
    <a href="#mobile_top" class="general-btn skinnier center-align w-inline-block desktop-hide"><img
        src="{{ 'collaborations_reach-out.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="133px"
        alt=""
        class="btn-img">
      <div class="btn-text">BACK TO TOP</div>
    </a>
  </div>
</div>
{% schema %}
  {
    "name": "Sustainability",
    "settings": [],
    "presets": [
      {
        "name": "Sustainability"
      }
    ]
  }
{% endschema %}