{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid


{% section 'blog-template' %}
{% endcomment %}

{% section 'hero-section-blog' %}


<div class="sub-hero-wrapper-blog">
  <div class="container-mid">
    <div class="sub-hero-flex-row-blog">
      <div class="sub-hero-flex-col-blog">
        <div class="sub-hero-col-inner-blog">
          <a href="{{ blog.url }}/tagged/news-articles#main-content" class="sub-hero-link-blog w-inline-block">
            <div>News Articles</div>
          </a><img src="//cdn.shopify.com/s/files/1/2534/9108/files/newsletters-min.png" alt="Newspaper" class="sub-hero-flex-col-img-blog"></div>
      </div>
      <div class="sub-hero-flex-col-blog">
        <div class="sub-hero-col-inner-blog">
          <a href="#" class="sub-hero-link-blog w-inline-block">
            <div>Podcasts</div>
          </a><img src="//cdn.shopify.com/s/files/1/2534/9108/files/podcasts-min.png" alt="Microphone" class="sub-hero-flex-col-img-blog"></div>
      </div>
      <div class="sub-hero-flex-col-blog">
        <div class="sub-hero-col-inner-blog">
          <a href="{{ blog.url }}/tagged/feature-friday#main-content" class="sub-hero-link-blog w-inline-block">
            <div>Feature Friday</div>
          </a><img src="//cdn.shopify.com/s/files/1/2534/9108/files/feature-friday-min.png" alt="Feature Friday" class="sub-hero-flex-col-img-blog"></div>
      </div>
      <div class="sub-hero-flex-col-blog">
        <div class="sub-hero-col-inner-blog">
          <a href="{{ blog.url }}/tagged/artisan-spotlight#main-content" class="sub-hero-link-blog w-inline-block">
            <div>Artisan Spotlights</div>
          </a><img src="//cdn.shopify.com/s/files/1/2534/9108/files/artisan-spotlight-min.png" alt="Artisan Spotlight" class="sub-hero-flex-col-img-blog"></div>
          <div id="main-content"></div>
      </div>
    </div>
  </div>
</div>
<div class="mid-wrapper-blog">
  <div class="container-mid">
    <h3 class="mid-heading-internal">All Articles</h3>
    
    <div class="sort-wrapper-blog">

      <div class="sort-flex-row-shop sort-flex-row-blog">
        <div class="sort-text-shop sort-text-blog">Categories:</div>
        <div class="sort-input-wrapper">
          <select id="blog-category-filter" name="blog-category-filter" class="filter-input-category filter-input-category-blog w-select">
              <option value="none">Choose a Category</option>
              <option value="{{ blog.url }}">All</option>
            {%- for tag in blog.tags -%}
              <option value="{{ blog.url }}/tagged/{{ tag | handleize }}">{{tag}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

    </div>
    
    {% paginate blog.articles by 12 %}
    <div class="flex-row-blog">

    	{% for article in blog.articles %}
    		<div class="flex-col-blog">
    		  <div class="flex-col-inner-blog">
    		  	<div>
	    		  	<div class="flex-col-img-holder-blog" {% if article.image %}style="background-image: url({{ article.image | img_url: '800x' }});"{% endif %}></div>
	    		    <div class="flex-col-date-text-blog">{{ article.published_at | time_tag: format: 'date' }}</div>
	    		    <h4 class="flex-col-heading-blog">{{ article.title | escape }}</h4>
    			</div>
    		    <div class="flex-col-btn-wrapper-blog"><a href="{{ article.url }}" class="btn-alt w-button">Read Article</a></div>
    		  </div>
    		</div>
    	{% endfor %}

    </div>
  </div>
</div>
{% if paginate.pages > 1 %}
	<div class="container-mid">
  {% include 'pagination' %}
	</div>
{% endif %}
{% endpaginate %}
<div class="cta-section-press">
  <div class="container-large">
    <div class="cta-content-wrapper">
      <h3 class="cta-heading-category cta-heading-press">Join Our Email List</h3>
      <div class="bottom-form-block-brand w-form">

        {% form 'customer' %}
        {% if form.posted_successfully? %}
          <div class="jc-form-done">
            <div>Thank you! Your subscription has been confirmed!</div>
          </div>
        {% else %}
          <input type="hidden" name="contact[accepts_marketing]" value="true">
          <input type="email" class="bottom-form-input-brand bottom-form-input-press w-input" maxlength="256" name="contact[email]" data-name="Email 4" id="email" required="">
          <input type="submit" value="Sign Up" data-wait="Please wait..." class="btn-main w-button">
          {% endif %}
        {% endform %}

        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
