{% comment %}
{{ content_for_index }}
{% endcomment %}

{% section 'hero-section' %}

<div class="collection-row-section">
  <div class="container-large">
    <div class="collection-section-flex-row">

      {% for product in collections.frontpage.products limit:12 %}
      
{% render 'swatchify-conts' with product, psType: 'collection'%} 
      
      {% assign price = product.price %}
      {% assign compare_at_price = product.compare_at_price_max %}
        <div class="collection-section-flex-col">
          <div class="collection-section-flex-col-inner">
            {% if product.available != true %}
              <div class="flex-col-meta-text-shop">Sold Out</div>
            {% endif %}
            <a href="{{product.url}}" class="collection-section-flex-col-link-overlay w-inline-block" {% if product.featured_image %}style="background-image: url({{ product.featured_image | img_url: '800x' }});"{% endif %}></a>
            <div class="collection-section-flex-col-bottom-wrapper">
              <a href="{{product.url}}" class="collection-section-flex-col-heading-link">
              <h3 class="collection-section-flex-col-heading">{{product.title}}</h3>
              </a>

              {% if compare_at_price > price  %}
              <div class="collection-section-flex-col-price"><span style="text-decoration: line-through;font-weight: 400;letter-spacing: 0px;">{{ compare_at_price | money }}</span> {{price | money }}</div>
              {% else %}
              <div class="collection-section-flex-col-price">{{product.price | money }}</div>
              {% endif %}

            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    <div class="collection-row-section-btn-wrapper">
      <a href="/collections/all" class="btn-alt w-button">Shop All</a>
    </div>
  </div>
</div>


{% section 'jc-banner-section' %}
{% section 'jc-connect-section' %}
{% section 'jc-cta-section' %}


<div class="ig-section">
  <div class="container-large">
    <h5 class="ig-section-heading">@IMANICOLLECTIVE</h5>
    <div class="ig-dyn-holder">
        <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/86e30277654b5cb090f79f580dfc8ecb.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
  </div>
</div>

